{% extends 'index.html' %}



{% load static %}

<link rel="stylesheet" href="{% static 'css/routers.css' %}">

{% block router_content %}

<div class="container">
      <div class="row">
        <div class="col-25">
          <label for="s3name">Device Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="s3name" name="s3name" placeholder="Switch layer-3 Name......">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s3uname">User Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="s3uname" name="s3uname" placeholder="User Name......">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="motds3"> MOTD Banner</label>
        </div>
        <div class="col-75">
          <input type="text" id="motds3" name="motds3" placeholder="Write your MOTD banner">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s3pwd">Security Password </label>
        </div>
        <div class="col-75">
          <input type="text" id="s3pwd" name="s3pwd" placeholder="Priviledge Password">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s3enpwd">Encryption Password </label>
        </div>
        <div class="col-75">
          <input type="text" id="s3enpwd" name="s3enpwd" placeholder="Encryption Password">
        </div>
      </div>
      <!--OSPF-->
      <div class="row">
        <hr> </hr>
        <div class="col-25">
          <label for="s3oname"> OSPF Number</label>
        </div>
        <div class="col-75">
          <input type="text" id="s3oname" name="s3oname" placeholder="Enter your OSPFv3 number ">
        </div>
      </div>
      <div class="row">
          <div class="col-25">
            <label for="s3areaospf">Area Number</label>
          </div>
          <div class="col-75">
            <input type="text" id="s3areaospf" name="s3areaospf" placeholder="Enter OSPF ipv4-area number">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="s3intfce"> Newtwork Interface </label>
          </div>
          <div class="col-75">
            <input type="text" id="s3intfce" name="s3intfce" placeholder="Interface">
          </div>
        </div>
       
        <div class="row">
          <div class="col-25">
            <label for="ipv4s3">IP Address</label>
          </div>
          <div class="col-75">
            <input type="text" id="ipv4s3" name="ipv4s3" placeholder="Ipv4 Address">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subs3">Subnet</label>
          </div>
          <div class="col-75">
            <input type="text" id="subs3" name="subs3" placeholder="Subnet">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="neintfces3"> Neighbour Interface Address </label>
          </div>
          <div class="col-75">
            <input type="text" id="neintfces3" name="neintfces3" placeholder=" Neighbour Interface Address">
          </div>
        </div>
        <!--BGP-->
        <div class="row">
            <hr></hr>
          <div class="col-25">
            
            <label for="s3bgpname">BGP Number</label>
          </div>
          <div class="col-75">
            <input type="text" id="s3bgpname" name="s3bgpname" placeholder="Enter your BGP number ">
          </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label for="sidbgp">Autonomous Number</label>
            </div>
            <div class="col-75">
              <input type="text" id="sidbgp" name="sidbgp" placeholder="Enter your BGP router-id">
            </div>
        </div>
       <div class="row">
        <div class="col-25">
          <label for="intfcebgp">Interface </label>
        </div>
        <div class="col-75">
          <input type="text" id="intfcebgp" name="intfcebgp" placeholder="Interface">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="ipv4bgps3">IP Address</label>
        </div>
        <div class="col-75">
          <input type="text" id="ipv4bgps3" name="ipv4bgps3" placeholder="Ipv4 Address">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subgp3">Subnet</label>
        </div>
        <div class="col-75">
          <input type="text" id="subgp3" name="subgp3" placeholder="Subnet">
        </div>
      </div>
      <!--<div class="row">
        <div class="col-25">
          <label for="country">Country</label>
        </div>
        <div class="col-75">
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Subject</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>
      -->
      {% block sub-form %}
      {% endblock %}
      
    </form>
  </div>
  
{% endblock %}
 
  