{% extends 'index.html' %}



{% load static %}

<link rel="stylesheet" href="{% static 'css/routers.css' %}">


{% block router_content %}

<div class="container">
      <div class="row">
        <div class="col-25">
          <label for="rname">Device Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="rname" name="rname" placeholder="Router Name......">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="intfce">Interface </label>
        </div>
        <div class="col-75">
          <input type="text" id="intfce" name="intfce" placeholder="Interface">
        </div>
      </div>
      <div class="row"> 
        <div class="col-25">
          <label for="ipv4">IP Address</label>
        </div>
        <div class="col-75">
          <input type="text" id="ipv4" name="ipv4" placeholder="Ipv4 Address">
        </div>
        
      </div>
      <div class="row">
        <div class="col-25">
          <label for="sub1">Subnet</label>
        </div>
        <div class="col-75">
          <input type="text" id="sub1" name="sub1" placeholder="Subnet">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="uname">User Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="uname" name="uname" placeholder="User Name......">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="motdr"> MOTD Banner</label>
        </div>
        <div class="col-75">
          <input type="text" id="motdr" name="motdr" placeholder="Write your MOTD banner">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="secpwd">Security Password </label>
        </div>
        <div class="col-75">
          <input type="text" id="spwd" name="spwd" placeholder="Priviledge Password">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="enpwd">Encryption Password </label>
        </div>
        <div class="col-75">
          <input type="text" id="enpwd" name="enpwd" placeholder="Encryption Password">
        </div>
      </div>
      <!--OSPF-->
      <hr> </hr>
      <div class="row">
      <h5 style="display: inline; float: left; color: darkblue; font-family: monospace;"> OSPF </h5> </div>
        <a style="display: inline; float: right; margin-bottom: 90px;" href="#" id="add_ospf"><i class='bx bx-plus'></i> </a>
      
      <div class="row">
        <div class="col-25">
          <label name="oname"> OSPF Number</label> 
         
        </div>
        <div class="col-75">
          <input type="text" id="oname" name="oname" placeholder="Enter your OSPFv3 number ">
        </div>
      </div>
      <div class="row">
          <div class="col-25">
            <label for="areaospf">Area Number</label>
          </div>
          <div class="col-75">
            <input type="text" id="areaospf" name="areaospf" placeholder="Enter OSPF ipv4-area number">
          </div>
        </div>
        
        <div class="row">
          <div class="col-25">
            <label for="neintfce"> Neighbour Interface Address </label>
          </div>
          <div class="col-75">
            <input type="text" id="neiospf" name="neiospf[]" placeholder=" Neighbour Interface Address">
            <div class="col-75">
              <a href="#" id="add_intfce_ospf"><i class='bx bx-plus'></i> </a>
            </div>
          </div>
        </div>
        <hr></hr>
        <!--BGP-->
        <div class="row">
          <h5 style="text-align: left; color: darkblue; font-family: monospace;"> BGP </h5>
          <div class="col-25"> 
            <label for="ename">BGP Number</label>
          </div>
          <div class="col-75">
            <input type="text" id="bgpname" name="bgpname" placeholder="Enter your BGP number ">
          </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label for="ridbgp">Autonomous Number</label>
            </div>
            <div class="col-75">
              <input type="text" id="ridbgp" name="ridbgp" placeholder="Enter your BGP router-id">
            </div>
        </div>
      
      <div class="row">
        <div class="col-25">
          <label for="neintfce"> Neighbour Interface Address </label>
        </div>
        <div class="col-75">
          <input type="text" name="neigbgp[]" placeholder=" Neighbour Interface Address">
          <div class="col-75">
            
            <a href="#" id="rmv_intfce"><i class='bx bx-minus'></i> </a>
          </div>
        </div>
        
      </div>
      <div class="col-75" style="margin-left: 250px; margin-right: 460px;">
          <input style="margin: 5px; float: left; " type="submit" value="Download Text">
          <input style="margin: 5px; float: left;" type="submit" value="Download Exec">
          <input style="margin: 5px; float: left;"  type="submit" value="Save">
      </div>
      
    
      {% block sub-form %}
      {% endblock %}
      
    </form>
  </div>
  
{% endblock %}

<script type="text/javascript">
var neigbgp= document.getElementById('neigbgp');
var add_intfce= document.getElementById('add_intfce');
var rmv_intfce= document.getElementById('rmv_intfce');
add_intfce.onclick = function()
{
  var newfield = document.createElement('input');
  newfield.setAttribute('type','text');
  newfield.setAttribute('name','neigbgp[]');
  newfield.setAttribute('placeholder','Neighbour Interface Address');
  neigbgp.appendChild(newfield);
}
rmv_intfce.onclick = function()
{
  var input_tags = neigbgp.getElementsByTagName('input');
  if(input_tags.length > 2)
  {
    neigbgp.removeChild(input_tags[(input_tags.length) - 1]);
  }
}
var coll = document.getElementById('add_ospf');
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
