{% extends 'home.html' %}



{% load static %}




{% block router_content %}

<div class="container" style="background: #f7f7fc; border: cornflowerblue; border-style: solid; border-width: thin;">
  <div style="font: bolder; color: deepskyblue;">Catalyst 9200</div>
  <hr> </hr>
      <div class="row">
        <h5 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="basic"> BASIC  </h5> 
        <div class="col-25">
          <label for="sname">Device Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="sname" name="sname" placeholder="Switch Name......">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s2uname">User Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="s2uname" name="s2uname" placeholder="User Name......">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="motds2">MOTD BANNER</label>
        </div>
        <div class="col-75">
          <input type="text" id="motds2" name="motds2" placeholder="Write your MOTD banner">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s2pwd">Security Password </label>
        </div>
        <div class="col-75">
          <input type="text" id="s2pwd" name="s2pwd" placeholder="Priviledge Password">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s2enpwd">Encryption Password </label>
        </div>
        <div class="col-75">
          <input type="text" id="s2enpwd" name="s2enpwd" placeholder="Encryption Password">
        </div>
      </div>
    <!--ACCESS Vlan-->
    <hr></hr>
    <div class="row">
      
      <h5 style="text-align: left; color: darkblue; font-family: monospace;" id="#add_vlan"> Access Vlans </h5>
      <div class="col-25"> 
        <label for="ename">VLAN Numbers</label>
      </div>
      <div class="col-75">
        <input type="text" id="vlan" name="vlan" placeholder="VLAN 99">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="svi">Vlan Interface Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="accessvlan" name="accessvlan" placeholder=" Interface Address">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="svi">Subnet</label>
      </div>
      <div class="col-75">
        <input type="text" id="accsub" name="accsub" placeholder=" Subnet">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="svi">Access Vlan Interface</label>
      </div>
      <div class="col-75">
        <input type="text" id="accint" name="accint" placeholder=" Access Vlan Interface">
      </div>
    </div>
    <hr></hr>
    <!--Trunk Vlan-->
    <div class="row">
      <h5 style="text-align: left; color: darkblue; font-family: monospace;" id="add_trunk"> Trunk Vlans </h5>
      <div class="col-25">
        <label for="trunk1">Port number</label>
      </div>
      <div class="col-75">
        <input type="text" id="trunk1" name="trunk1" placeholder="Enter trunk -1 ">
      </div>
    </div>
  <div class="row">
      <div class="col-25">
        <label for="s2int1">Interface 1 </label>
      </div>
      <div class="col-75">
        <input type="text" id="s2int1" name="s2int1" placeholder="Enter interface  1">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="s2int2">Interface 2 </label>
      </div>
      <div class="col-75">
        <input type="text" id="s2int2" name="s2int2" placeholder="Enter interface  2">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="s2int3">Interface 3 </label>
      </div>
      <div class="col-75">
        <input type="text" id="s2int3" name="s2int3" placeholder="Enter interface  3">
      </div>
      <div class="col-75" style="margin-left: 290px; margin-right: 460px;">
        <input style="margin: 5px; float: left; " type="submit" value="Download Text">
        <input style="margin: 5px; float: left;" type="submit" value="Download Exec">
        <input style="margin: 5px; float: left;"  type="submit" value="Save">
    </div>
    </div>
    
  
 </div>
      
    </form>

  
{% endblock %}
 
  