{% extends 'index.html' %}



{% load static %}

<link rel="stylesheet" href="{% static 'css/routers.css' %}">


{% block router_content %}

<div class="container">
      <div class="row">
        <div class="col-25">
          <label for="sname">Device Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="sname" name="sname" placeholder="Switch Name......">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s2uname">User Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="s2uname" name="s2uname" placeholder="User Name......">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="motds2">MOTD BANNER</label>
        </div>
        <div class="col-75">
          <input type="text" id="motds2" name="motds2" placeholder="Write your MOTD banner">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s2pwd">Security Password </label>
        </div>
        <div class="col-75">
          <input type="text" id="s2pwd" name="s2pwd" placeholder="Priviledge Password">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s2enpwd">Encryption Password </label>
        </div>
        <div class="col-75">
          <input type="text" id="s2enpwd" name="s2enpwd" placeholder="Encryption Password">
        </div>
      </div>
    <!--  <div class="row">
        <div class="col-25">
          <label for="ipv4">IP Address</label>
        </div>
        <div class="col-75">
          <input type="text" id="ipv4" name="ipv4" placeholder="Ipv4 Address">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="sub1">Subnet</label>
        </div>
        <div class="col-75">
          <input type="text" id="sub1" name="sub1" placeholder="Subnet">
        </div>
      </div>
      -->
      
      <!--<div class="row">
        <div class="col-25">
          <label for="country">Country</label>
        </div>
        <div class="col-75">
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Subject</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>
      -->
      {% block sub-form %}
      {% endblock %}
      
    </form>
  </div>
  
{% endblock %}
 
  