{% extends 'index_l3.html' %}



{% load static %}

<link rel="stylesheet" href="{% static 'css/routers.css' %}">

{% block router_content %}

<div class="container">
      <div class="row">
        <div class="col-25">
          <label for="s3name">Device Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="s3name" name="s3name" placeholder="Switch layer-3 Name......">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s3uname">User Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="s3uname" name="s3uname" placeholder="User Name......">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="motds3"> MOTD Banner</label>
        </div>
        <div class="col-75">
          <input type="text" id="motds3" name="motds3" placeholder="Write your MOTD banner">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s3pwd">Security Password </label>
        </div>
        <div class="col-75">
          <input type="text" id="s3pwd" name="s3pwd" placeholder="Priviledge Password">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s3enpwd">Encryption Password </label>
        </div>
        <div class="col-75">
          <input type="text" id="s3enpwd" name="s3enpwd" placeholder="Encryption Password">
        </div>
      </div>
      <!--OSPF-->
      <div class="row">
        <hr> </hr>
        <h5 style="text-align: left; color: darkblue; font-family: monospace;"> OSPF </h5>
        <div class="col-25">
          <label for="s3oname"> OSPF Number</label>
        </div>
        <div class="col-75">
          <input type="text" id="s3oname" name="s3oname" placeholder="Enter your OSPFv3 number ">
        </div>
      </div>
      <div class="row">
          <div class="col-25">
            <label for="s3areaospf">Area Number</label>
          </div>
          <div class="col-75">
            <input type="text" id="s3areaospf" name="s3areaospf" placeholder="Enter OSPF ipv4-area number">
          </div>
        </div>
        
        <div class="row">
          <div class="col-25">
            <label for="neintfces3"> Neighbour Interface Address </label>
          </div>
          <div class="col-75">
            <input type="text" id="neintfces3" name="neintfces3" placeholder=" Neighbour Interface Address">
          </div>
        </div>
        <!--BGP-->
        <div class="row">
            <hr></hr>
            <h5 style="text-align: left; color: darkblue; font-family: monospace;"> BGP </h5>
          <div class="col-25">
            
            <label for="s3bgpname">BGP Number</label>
          </div>
          <div class="col-75">
            <input type="text" id="s3bgpname" name="s3bgpname" placeholder="Enter your BGP number ">
          </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label for="sidbgp">Autonomous Number</label>
            </div>
            <div class="col-75">
              <input type="text" id="sidbgp" name="sidbgp" placeholder="Enter your BGP router-id">
            </div>
        </div>
       <div class="row">
        <div class="col-25">
          <label for="nbgp">Interface </label>
        </div>
        <div class="col-75">
          <input type="text" id="nbgp" name="nbgp" placeholder="Interface">
        </div>
      </div>
     <!--TRUNK-->
     <!--trunk mode vlan-->        
     <div class="row">
       <hr></hr>
      <h5 style="text-align: left; color: darkblue; font-family: monospace;"> Ether Channel </h5>
      <div class="col-25">
        <label for="trunks3">Port number</label>
      </div>
      <div class="col-75">
        <input type="text" id="trunks3" name="trunks3" placeholder="Enter trunk - 1 ">
      </div>
    </div>
  <div class="row">
      <div class="col-25">
        <label for="s3int">Interface </label>
      </div>
      <div class="col-75">
        <input type="text" id="s3int" name="s3int" placeholder="Enter interface ">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="s3sub">Enter Neighbor network</label>
      </div>
      <div class="col-75">
        <input type="text" id="s3sub" name="s3sub" placeholder="Enter subnet ">
      </div>
    </div>
  </div>
  <div class="col-75" style="margin-left: 250px; margin-right: 460px;">
    <input style="margin: 5px; float: left; " type="submit" value="Download Text">
    <input style="margin: 5px; float: left;" type="submit" value="Download Exec">
    <input style="margin: 5px; float: left;"  type="submit" value="Save">
</div>
      {% block sub-form %}
      {% endblock %}
      
    </form>
  </div>
  
{% endblock %}
 
  