{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  {% block style %}
  {% endblock %}

  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <meta charset="utf-8">
  
  <meta name="description" content="">
  <meta name="author" content="Team-46">
  <meta name="keywords" content="">

  <link rel="shortcut icon" href="img/icons/icon-48x48.png" />

  <title>NetMan</title>

  <link href="{% static 'css/app.css' %}" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <nav id="sidebar" class="sidebar">
      <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
          <span class="align-middle">{{organisation_name}}</span>
        </a>

        <ul class="sidebar-nav">
          <li class="sidebar-header">
            Projects
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="dash">
              <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Projects</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="new_project">
              <i class="align-middle" data-feather="plus"></i> <span class="align-middle">New Project</span>
            </a>
          </li>

          <li class="sidebar-header">
            Devices
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="routers">
              <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Routers</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="switches">
              <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Switches</span>
            </a>
          </li>

          <li class="sidebar-header">
            Admin
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="settings">
              <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Settings</span>
            </a>
          </li>
          <li class="sidebar-header">
            <a href="{% url 'about_us' %}" style="text-decoration: none;">Devlopment Team</a>
          </li>
        </ul>

        <div class="sidebar-cta">
          <div class="sidebar-cta-content">
            <strong class="d-inline-block mb-2">{{user.username}}</strong>
            <div class="mb-3 text-sm">
              <ul class="sidebar-nav">
                <li class="sidebar-item">
                  <a class="sidebar-link" href="#">
                    <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Profile</span>
                  </a>
                </li>
              </ul>
            </div>
            <a href="#" target="_blank" class="btn btn-primary btn-block">Logout</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="main">
      <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a class="sidebar-toggle d-flex">
          <i class="hamburger align-self-center"></i>
        </a>

        <form class="d-none d-sm-inline-block">
          <div class="input-group input-group-navbar">
            <input type="text" class="form-control" placeholder="Search…" aria-label="Search">
            <button class="btn" type="button">
              <i class="align-middle" data-feather="search"></i>
            </button>
          </div>
          
        </form>

        <div class="navbar-collapse collapse">
          <ul class="navbar-nav navbar-align">
            <li class="nav-item dropdown">
              <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                <i class="align-middle" data-feather="settings"></i>
              </a>

              <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                <span class="text-dark">{{user.username}}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="pages-profile.html"><i class="align-middle mr-1" data-feather="user"></i>
                  Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="pages-settings.html"><i class="align-middle mr-1"
                    data-feather="settings"></i> Settings</a>
                <a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="help-circle"></i> Help
                  Center</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="logout">Log out</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <main class="content">
        {% block content %}
        {% endblock %}
      </main>

      <footer class="footer">
        <div class="container-fluid">
          <div class="row text-muted">
            <div class="col-6 text-left">
              <p class="mb-0">
                <a href="index.html" class="text-muted"><strong>NETMAN</strong></a> &copy;
              </p>
            </div>
            <div class="col-6 text-right">
              <ul class="list-inline">
                Created by
                <li class="list-inline-item">
                  <a class="text-primary" href="team">Team-46</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <script src="{% static 'js/app.js' %}"></script>

</body>

</html>