{% extends 'index.html' %}



{% load static %}

{% block sidebar %}
<ul class="sidebar-nav">
  <li class="sidebar-header">
    Layer 2 Switch Scripts
</li>
  <li class="sidebar-item">
    <a class="sidebar-link" href="#basic">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Basic Function</span>
    </a>
  </li>

 

  <li class="sidebar-header">
    Connectivity-Vlans
  </li>

  <li class="sidebar-item">
    <a class="sidebar-link" href="#add_vlan">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Access Vlans</span>
    </a>
  </li>

  

  <li class="sidebar-header">
    Ethernet Channel Ports
  </li>

  <li class="sidebar-item">
    <a class="sidebar-link" href="#add_trunk ">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Trunk Vlans</span>
    </a>
  </li>
 
</ul>
{% endblock %}


{% block router_content %}

<div class="container"> 
  <div class="input-group">

    <label for="script_name">Script Name</label>


    <input type="text" class="form-control" name="script_name" value="{{script.script_name}}" aria-label="Script">
    <button class="btn btn-primary" type="submit">
      <i class="align-middle" data-feather="check"></i>
    </button>
  </div>
  <hr>
  <div class="row">
    <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="basic"> BASIC </h3>
  </div>
  <div class="row">
        <div class="col-25">
          <label for="sname">Device Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="sname" name="sname" placeholder="Switch Name......">
        </div>
  </div>
      <div class="row">
        <div class="col-25">
          <label for="s2uname">User Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="s2uname" name="s2uname" placeholder="User Name......">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="motds2">MOTD BANNER</label>
        </div>
        <div class="col-75">
          <input type="text" id="motds2" name="motds2" placeholder="Write your MOTD banner">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s2pwd">Security Password </label>
        </div>
        <div class="col-75">
          <input type="text" id="s2pwd" name="s2pwd" placeholder="Priviledge Password">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="s2enpwd">Encryption Password </label>
        </div>
        <div class="col-75">
          <input type="text" id="s2enpwd" name="s2enpwd" placeholder="Encryption Password">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="minlen"> Password Minimum Length </label>
        </div>
        <div class="col-75">
          <input type="text" id="minlen" name="minlen" placeholder="Password Minimum Length">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="time"> Executive Timeout</label>
        </div>
        <div class="col-75">
          <input type="text" id="time" name="time" placeholder="Executive Timeout">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="minlen"> Password Minimum Length </label>
        </div>
        <div class="col-75">
          <input type="text" id="minlen" name="minlen" placeholder="Password Minimum Length">
        </div>
      </div>
     <!-- login Details -->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="pch1"> Login Protection </h3>
    </div>
  <div class="row">
    <div class="col-25"> 
      <label for="secblk">Block Login</label>
    </div>
    <div class="col-75">
      <input type="text" id="secblk" name="secblk" placeholder="Block login (seconds) ">
    </div>
  </div>
  <div class="row">
    <div class="col-25"> 
      <label for="alwatmpt">Allowed Attempts</label>
    </div>
    <div class="col-75">
      <input type="text" id="alwatmpt" name="alwatmpt" placeholder="Allowed Attempts (number)) ">
    </div>
  </div>
  <div class="row">
    <div class="col-25"> 
      <label for="occur">Occurence</label>
    </div>
    <div class="col-75">
      <input type="text" id="occur" name="occur" placeholder="Occurence attempts in (seconds) ">
    </div>
  </div>
  <div class="row">
    <div class="col-25"> 
      <label for="acl">ACL List Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="acl" name="acl" placeholder="ACL List Name">
    </div>
  </div>
  <div class="row">
    <div class="col-25"> 
      <label for="admipv4">Admin IPv4 Address</label>
    </div>
    <div class="col-75">
      <input type="text" id="admipv4" name="admipv4" placeholder="Admin IPv4 Address">
    </div>
  </div>
  <div class="row">
    <div class="col-25"> 
      <label for="admipv6">Admin IPv6 Address</label>
    </div>
    <div class="col-75">
      <input type="text" id="admipv6" name="admipv6" placeholder="Admin IPv6 Address">
    </div>
  </div>
  <div class="row">
    <div class="col-25"> 
      <label for="delay">Login Delay</label>
    </div>
    <div class="col-75">
      <input type="text" id="delay" name="delay" placeholder="Login Delay in (seconds) ">
    </div>
  </div>
  
    <!--port channel 1 -->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="pch1"> Port Channel 1 </h3>
    </div>
  <div class="row">
    <div class="col-25"> 
      <label for="portchannel1">Port Channel (g1/0-1)</label>
    </div>
    <div class="col-75">
      <input type="text" id="portchannel1" name="portchannel1" placeholder="Port Channel Number 1 ">
    </div>
  </div>
  <div class="row">
  <div class="col-25"> 
    <label for="tvlan1">Trunk Vlan 1</label>
  </div>
  <div class="col-75">
    <input type="text" id="tvlan1" name="tvlan1" placeholder="Trunk Vlan 1 ">
  </div>
 </div>
 <div class="row">
  <div class="col-25"> 
    <label for="tvlan1">Trunk Vlan 2</label>
  </div>
  <div class="col-75">
    <input type="text" id="tvlan2" name="tvlan2" placeholder="Trunk Vlan 2">
  </div>
 </div>
 <div class="row">
  <div class="col-25"> 
    <label for="tvlan1">Trunk Vlan 3</label>
  </div>
  <div class="col-75">
    <input type="text" id="tvlan3" name="tvlan3" placeholder="Trunk Vlan 3">
  </div>
 </div>
 <div class="row">
  <div class="col-25"> 
    <label for="native">Native Trunk Vlan</label>
  </div>
  <div class="col-75">
    <input type="text" id="native" name="native" placeholder="Native Trunk Vlan">
  </div>
 </div>
   <!--port channel 2 -->
   <hr>
   <div class="row">
    <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="pch2"> Port Channel 2 </h3>
  </div>
  <div class="row">
    <div class="col-25"> 
      <label for="portchannel2">Port Channel (g1/2-3)</label>
    </div>
    <div class="col-75">
      <input type="text" id="portchannel2" name="portchanne2" placeholder="Port Channel Number 2">
    </div>
  </div>
  <div class="row">
    <div class="col-25"> 
      <label for="tvlan1">Trunk Vlan 1</label>
    </div>
    <div class="col-75">
      <input type="text" id="tvlan1" name="tvlan1" placeholder="Trunk Vlan 1 ">
    </div>
 </div>
  <div class="row">
    <div class="col-25"> 
      <label for="tvlan1">Trunk Vlan 2</label>
    </div>
    <div class="col-75">
      <input type="text" id="tvlan2" name="tvlan2" placeholder="Trunk Vlan 2">
    </div>
  </div>
  <div class="row">
    <div class="col-25"> 
      <label for="tvlan1">Trunk Vlan 3</label>
    </div>
    <div class="col-75">
      <input type="text" id="tvlan3" name="tvlan3" placeholder="Trunk Vlan 3">
    </div>
  </div>
  <div class="row">
    <div class="col-25"> 
      <label for="native">Native Trunk Vlan</label>
    </div>
    <div class="col-75">
      <input type="text" id="native" name="native" placeholder="Native Trunk Vlan">
    </div>
  </div>
      <!--Interface g1/0-->
      <hr>
      <div class="row">
        <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="intg1/0"> Interface g1/0</h3>
      </div>
    <div class="row">
      <div class="col-25"> 
        <label for="channel">Channel Group</label>
      </div>
      <div class="col-75">
        <input type="text" id="channel" name="channel" placeholder="Channel group number">
      </div>
    </div>
     
   
     <!--Interface g1/1-->
     <hr>
     <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="intg1/1"> Interface g1/1</h3>
    </div>
     <div class="row">
      <div class="col-25"> 
        <label for="channel1.1">Channel Group</label>
      </div>
      <div class="col-75">
        <input type="text" id="channel1.1" name="channel1.1" placeholder="Channel group number">
      </div>
    </div>
    <!--Interface g1/2-->
    <hr>
    <div class="row">
     <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="intg1/2"> Interface g1/2</h3>
   </div>
      
    <div class="row">
      <div class="col-25"> 
        <label for="channel2">Channel Group</label>
      </div>
      <div class="col-75">
        <input type="text" id="channel2" name="channel2" placeholder="Channel group number 2">
      </div>
    </div>
     <!--Interface g1/3-->
     <hr>
     <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="intg1/2"> Interface g1/3</h3>
    </div>
      
      
    <div class="row">
      <div class="col-25"> 
        <label for="channel2.2">Channel Group</label>
      </div>
      <div class="col-75">
        <input type="text" id="channel2.2" name="channel2.2" placeholder="Channel group number">
      </div>
    </div>
     
    <!--AAA-->
    <hr></hr>
    <div class="row">
      
      <h3 style="text-align: left; color: darkblue; font-family: monospace;" id="#s2aaa"> AAA </h3>
    </div>
    <div class="row">
      <div class="col-25"> 
        <label for="rserver"> Radius Server Name </label>
      </div>
      <div class="col-75">
        <input type="text" id="rserver" name="rserver" placeholder="Radius Server Name">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ipserver">Server IP Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="ipserver" name="ipserver" placeholder=" Server IP Address">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="keypwd">Key Password</label>
      </div>
      <div class="col-75">
        <input type="text" id="keypwd" name="keypwd" placeholder="Keyword">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="max1">Max Fail</label>
      </div>
      <div class="col-75">
        <input type="text" id="max1" name="max1" placeholder="Max Fail">
      </div>
    </div>
    <!-- NTP-->
    <div class="row">
      <div class="col-25">
        <label for="r1add">Router's IP Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="r1add" name="r1add" placeholder="Router's IP Address">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ntpauth">Authentication Key</label>
      </div>
      <div class="col-75">
        <input type="text" id="ntpauth" name="ntpauth" placeholder="Authentication Key">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="md5pwd">Md5 SHA Password</label>
      </div>
      <div class="col-75">
        <input type="text" id="md5pwd" name="md5pwd" placeholder="Md5 SHA Password">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="trstkey">Trusted Key</label>
      </div>
      <div class="col-75">
        <input type="text" id="trstkey" name="trstkey" placeholder="Trusted Key">
      </div>
    </div>
    <hr></hr>
    
  
  
</div>
<div class="row">
  <hr>
  <div class="col">
    <div class='d-flex justify-content-between'>

      {% csrf_token %}

      <input type='hidden' name='device_id' value='1'>
      {% if script.id is not null %}
      <input type='hidden' name='script_id' value='{{script.id}}'>
      {% endif %}
      <button class="btn btn-primary" type="=submit"><i data-feather="save"></i> <span>Save</span></button>
</form>
  {% if script.id is not null %}
  <form method='POST' action="generate_exe">
    {% csrf_token %}
    <input type='hidden' name='script_id' value='{{script.id}}'>
    <button class="btn btn-success" type="=submit"><i data-feather="download"></i>
      <span>Executable</span></button>
  </form>
  <form method='POST' action="generate_text">
    {% csrf_token %}
    <input type='hidden' name='script_id' value='{{script.id}}'>
    <button class="btn btn-success" type="=submit"><i data-feather="download"></i> <span>Text</span></button>
  </form>
  {% endif %}
  <button class="btn btn-primary">
    <span><a href="dash" class="text-white">Cancel</a></span></button>
</div>


{% endblock %}
 

