{% extends 'index.html' %}



{% load static %}



{% block router_content %}

{% for script in data %}
<div class="container" style="background: #f7f7fc; border: cornflowerblue; border-style: solid; border-width: thin;">
  <div style="font: bolder; color: deepskyblue;">ISR4321 Router Script</div>
  <hr>
  <div class="row">
    <h5 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="basic"> BASIC </h5>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="rname">Device Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="rname" name="rname" placeholder="Router Name......" value="{{script.host_name}}">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="intfce">Interface </label>
    </div>
    <div class="col-75">
      <input type="text" id="intfce" name="intfce" placeholder="Interface">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="ipv4">IP Address</label>
    </div>
    <div class="col-75">
      <input type="text" id="ipv4" name="ipv4" placeholder="Ipv4 Address" value='{{script.isr4321.g00_ip}}'>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="sub1">Subnet</label>
    </div>
    <div class="col-75">
      <input type="text" id="sub1" name="sub1" placeholder="Subnet" value='{{script.isr4321.g00_subnet}}'>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="uname">User Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="uname" name="uname" placeholder="User Name......" value='{{script.isr4321.user_name}}'>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="motdr"> MOTD Banner</label>
    </div>
    <div class="col-75">
      <input type="text" id="motdr" name="motdr" placeholder="Write your MOTD banner"  value='{{script.banner_motd}}'>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="secpwd">Security Password </label>
    </div>
    <div class="col-75">
      <input type="text" id="spwd" name="spwd" placeholder="Priviledge Password"  value='{{script.isr4321.user_pass}}'>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="enpwd">Encryption Password </label>
    </div>
    <div class="col-75">
      <input type="text" id="enpwd" name="enpwd" placeholder="Encryption Password" value='{{script.isr4321.en_pass}}'>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="intg00">Interface g0/0 </label>
    </div>
    <div class="col-75">
      <input type="text" id="intg00" name="intg00" placeholder="Ip address for g0/0" value=''>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subg00">Subnet g0/0 </label>
    </div>
    <div class="col-75">
      <input type="text" id="subg00" name="subg00" placeholder="Subnet for g0/0" value=''>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="intg0/1">Private IP g0/1 </label>
    </div>
    <div class="col-75">
      <input type="text" id="intg0/1" name="intg0/1" placeholder=" Private Ip address for g0/1" value=''>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subg01">Subnet g0/1 </label>
    </div>
    <div class="col-75">
      <input type="text" id="subg01" name="subg01" placeholder="Subnet for g0/1" value=''>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="intg0/2">Private IP g0/2 </label>
    </div>
    <div class="col-75">
      <input type="text" id="intg0/2" name="intg0/2" placeholder=" Private Ip address for g0/2" value=''>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subg02">Subnet g0/2 </label>
    </div>
    <div class="col-75">
      <input type="text" id="subg02" name="subg02" placeholder="Subnet for g0/2 " value=''>
    </div>
  </div>
  <!--OSPF-->
  <hr>
  <div class="row">
    <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="add_ospf"> OSPF </h3>
  </div>
  
  <div class="row">
    <div class="col-25">
      <label name="rno"> Router Ospf Number</label>
    </div>
    <div class="col-75">
      <input type="text" id="rno" name="rno" placeholder="Enter your router number ">
    </div>
  </div>
    <div class="row">
      <div class="col-25">
        <label name="rid"> Router ID</label>
      </div>
      <div class="col-75">
        <input type="text" id="rno" name="rno" placeholder="Enter your router id">
      </div>
      <div class="row">
        <h5 style="display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;" id="add_ospf"> Interface g0/1 </h5>
        </div>
    </div>
  <div class="row">
    <div class="col-25">
      <label name="oname"> OSPF Number</label>
    </div>
    <div class="col-75">
      <input type="text" id="oname" name="oname" placeholder="Enter your OSPFv3 number ">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="areaospf">IPv4 Area Number</label>
    </div>
    <div class="col-75">
      <input type="text" id="v4anum" name="v4anum" placeholder="IPv4 Area Number" >
    </div>
  </div>
  <div class="row">
    <h5 style="display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;" id="add_ospf"> Interface g0/2 </h5>
    </div>
    <div class="row">
      <div class="col-25">
        <label name="oname"> OSPF Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="oname" name="oname" placeholder="Enter your OSPFv3 number ">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="g2v4anum">IPv4 Area Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="g2v4anum" name="g2v4anum" placeholder="IPv4 Area Number" >
      </div>
    </div>
  <div class="row">
    <div class="col-25">
      <label for="g2v6anum">Ipv6 Area Number</label>
    </div>
    <div class="col-75">
      <input type="text" id="g2v6anum" name="g2v6anum" placeholder="IPv6 Area Number" >
    </div>
  </div>
  
  <hr>
  <!--BGP-->
  <div class="row">
    <h5 style="text-align: left; color: darkblue; font-family: monospace;" id="add_bgp"> BGP </h5>
    <div class="col-25">
      <label for="ename">BGP Number</label>
    </div>
    <div class="col-75">
      <input type="text" id="bgpname" name="bgpname" placeholder="Enter your BGP number " value='{{script.isr4321.bgp_process_id}}'>
    </div>
    </div>
    <div class="row">
    <div class="col-25">
      <label for="bgprid">BGP Router Id</label>
    </div>
    <div class="col-75">
      <input type="text" id="bgprid" name="bgprid" placeholder="Enter your BGP Router Id " value='{{script.isr4321.bgp_router_id}}'>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="bgpipv4add">Neighbour IPV4 Address</label>
    </div>
    <div class="col-75">
      <input type="text" id="bgpipv4add" name="bgpipv4add" placeholder="ipv4 neighbour address" value='{{script.isr4321.bgp_ipv4_neighbor_wan_ip_in}}'>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="bgpipv4add">Neighbour IPV6 Address</label>
    </div>
    <div class="col-75">
      <input type="text" id="bgpipv4add" name="bgpipv4add" placeholder="ipv4 neighbour address" value='{{script.isr4321.bgp_ipv4_neighbor_wan_ip_in}}'>
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="wanip"> Neighbor WAN IP Address</label>
    </div>
    <div class="col-75">
      <input type="text" id="wanip" name="wanip" placeholder="WAN IP Address" value=''>
    </div>
  </div>
  
    <!--advanced options-->
    <!--ipv6-->
    <hr>
    <div class="row">
      <h5 style="text-align: left; color: darkblue; font-family: monospace;" id="add_ipv6"> IPV6 </h5>
      <div class="row">
        <h5 style="display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;"> Interface g0/0 </h5>
        </div>
      <div class="row">
        <div class="col-25">
          <label for="v6g00">Interface g0/0 IPv6 </label>
        </div>
        <div class="col-75">
          <input type="text" id="v6g00" name="v6g00" placeholder="Ipv6 address for g0/0" value=''>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="linkadd">Link Local g0/0</label>
        </div>
        <div class="col-75">
          <input type="text" id="linkadd" name="linkadd" placeholder="Link Local address for g0/0" value=''>
        </div>
      </div>
      <div class="row">
        <h5 style="display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;"> Interface g0/1 </h5>
        </div>
      <div class="row">
        <div class="col-25">
          <label for="v6g01">Interface g0/1 IPv6 </label>
        </div>
        <div class="col-75">
          <input type="text" id="v6g01" name="v6g01" placeholder="Ipv6 address for g0/1" value=''>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="linkg01">Link Local g0/0</label>
        </div>
        <div class="col-75">
          <input type="text" id="linkg01" name="linkg01" placeholder="Link Local address for g0/1" value=''>
        </div>
      </div>
      <div class="row">
        <h5 style="display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;"> Interface g0/2 </h5>
        </div>
      <div class="row">
        <div class="col-25">
           <label for="v6g02">Interface g0/2 IPv6 </label>
        </div>
       <div class="col-75">
            <input type="text" id="v6g02" name="v6g02" placeholder="Ipv6 address for g0/2" value=''>
        </div>
      </div>
  <div class="row">
    <div class="col-25">
      <label for="linkg02">Link Local g0/2</label>
    </div>
    <div class="col-75">
      <input type="text" id="linkg02" name="linkg02" placeholder="Link Local address for g0/2" value=''>
    </div>
  </div>
     <!-- <div class="col-25">
        <label for="ipv6r">IP Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="ipv6r" name="ipv6r" placeholder="Ipv6 Address">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ipv6sub">Subnet</label>
      </div>
      <div class="col-75">
        <input type="text" id="ipv6sub" name="ipv6sub" placeholder="Subnet">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="intfcev6"> Network Interface </label>
      </div>
      <div class="col-75">
        <input type="text" id="intfcev6" name="intfcev6" placeholder="Interface">
      </div>
    </div>-->
    <!--NAT-->
    <hr>
    <div class="row">
      <h5 style="text-align: left; color: darkblue; font-family: monospace;" id="add_nat"> NAT </h5>
      <div class="row">
        <div class="col-25">
          <label for="nat">NAT Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="nat" name="nat" placeholder="NAT Name" value='{{script.isr4321.nat_pool_name}}'>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="pubstrt">Start public address</label>
        </div>
        <div class="col-75">
          <input type="text" id="pubstrt" name="pubstrt" placeholder="Start public address" value='{{script.isr4321.nat_start_address}}'>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="pubend"> Last public address </label>
        </div>
        <div class="col-75">
          <input type="text" id="pubend" name="pubend" placeholder="Last public address" value='{{script.isr4321.nat_end_address}}'>
        </div>
      </div>
    </div>
    <div class="col-75" style="margin-left: 280px; margin-right: 460px;">
      <input style="margin: 5px; float: left; " type="submit" value="Download Text">
      <input style="margin: 5px; float: left;" type="submit" value="Download Exec">
      <input style="margin: 5px; float: left;" type="submit" value="Save">
    </div>
  </div>
  </div>
  </div>



  {% block sub-form %}
  {% endblock %}

  </form>
</div>

{% endfor %}
{% endblock %}

    