{% extends 'index.html' %}



{% load static %}

<link rel="stylesheet" href="{% static 'css/routers.css' %}">

{% block router_content %}

{% for script in data %}
<div class="container">
  <form method='POST' action='save'>
    <div class="row">
      <div class="col-25">
        <label for="rname">Device Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="rname" name="rname" placeholder="Router Name......" value='{{script.host_name}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="intfce">Interface </label>
      </div>
      <div class="col-75">
        <input type="text" id="intfce" name="intfce" placeholder="Interface" value='G0/0'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ipv4"> Public Ipv4 Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="ipv4" name="ipv4" placeholder="Ipv4 Address" value='{{script.g00_ip}}'>
      </div>

    </div>
    <div class="row">
      <div class="col-25">
        <label for="sub1">Subnet</label>
      </div>
      <div class="col-75">
        <input type="text" id="sub1" name="sub1" placeholder="Subnet" value='{{script.g00_subnet}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ipv6r">IPv6 Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="ipv6r" name="ipv6r" placeholder="Ipv6 Address" value='{{script.g00_ipv6_address}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ipv6sub">Subnet</label>
      </div>
      <div class="col-75">
        <input type="text" id="ipv6sub" name="ipv6sub" placeholder="Subnet" value='64'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="intfcev6"> Link Local </label>
      </div>
      <div class="col-75">
        <input type="text" id="intfcev6" name="intfcev6" placeholder="Interface" value='{{script.g00_ipv6_link}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="uname">User Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="uname" name="uname" placeholder="User Name......"  value='{{script.user_name}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="motdr"> MOTD Banner</label>
      </div>
      <div class="col-75">
        <input type="text" id="motdr" name="motdr" placeholder="Write your MOTD banner" value='{{script.banner_motd}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="secpwd">Security Password </label>
      </div>
      <div class="col-75">
        <input type="text" id="spwd" name="spwd" placeholder="Priviledge Password" value='{{script.user_pass}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="enpwd">Service Password </label>
      </div>
      <div class="col-75">
        <input type="text" id="enpwd" name="enpwd" placeholder="Encryption Password" value='{{script.en_pass}}'>
      </div>
    </div>
    <!--OSPF-->
    <hr>
    <div class="row">
      <h5 style="text-align: left; color: darkblue; font-family: monospace;"> OSPF </h5>
      <div class="col-25">
        <label for="oname"> OSPF Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="oname" name="oname" placeholder="Enter your OSPFv3 number ">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="areaospf">Area Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="areaospf" name="areaospf" placeholder="Enter OSPF ipv4-area number">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="neintfce"> OSPF Interfaces Configuration </label>
      </div>
      <div class="col-75">
        <input type="text" id="neiospf" name="neiospf[]" placeholder=" Neighbour Interface Address">
        <div class="col-75">

        </div>
      </div>
    </div>
    <hr>
    <!--BGP-->
    <div class="row">
      <h5 style="text-align: left; color: darkblue; font-family: monospace;"> BGP </h5>
      <div class="col-25">
        <label for="ename">BGP Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="bgpname" name="bgpname" placeholder="Enter your BGP number ">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ridbgp">Autonomous Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="ridbgp" name="ridbgp" placeholder="Enter your BGP router-id">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="neintfce"> BGP Interfaces Configuration </label>
      </div>
      <div class="col-75">
        <input type="text" name="neigbgp[]" placeholder=" Neighbour Interface Address">
        <div class="col-75">

        </div>
      </div>

    </div>
    <div class="col-75">
      <input type="submit" value="Submit">
    </div>





  </form>
</div>
<script type="text/javascript">
  var neigbgp = document.getElementById('neigbgp');
  var add_intfce = document.getElementById('add_intfce');
  var rmv_intfce = document.getElementById('rmv_intfce');
  add_intfce.onclick = function () {
    var newfield = document.createElement('input');
    newfield.setAttribute('type', 'text');
    newfield.setAttribute('name', 'neigbgp[]');
    newfield.setAttribute('placeholder', 'Neighbour Interface Address');
    neigbgp.appendChild(newfield);
  }
  rmv_intfce.onclick = function () {
    var input_tags = neigbgp.getElementsByTagName('input');
    if (input_tags.length > 2) {
      neigbgp.removeChild(input_tags[(input_tags.length) - 1]);
    }
  }
</script>
{% endfor %}
{% endblock %}