{% extends 'index.html' %}



{% load static %}

{% block sidebar %}
<ul class="sidebar-nav">
  <li class="sidebar-header">
    Router - ISR4321
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#basic">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Basic Function</span>
    </a>
  </li>
  <li class="sidebar-header">
    Protocols
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#add_bgp">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">BGP</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#add_ospf">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">OSPF</span>
    </a>
  </li>
  <li class="sidebar-header">
    Advanced Options
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#add_ipv6 ">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">IPV6</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#add_nat">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">NAT</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#zns">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Zone</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#add_aaa">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">AAA</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#add_default">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Default-Routes</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#add_acl">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">ACL</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#add_crypto">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Crypto-Keys</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#ntp">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">NTP</span>
    </a>
  </li>
  <li class="sidebar-header">
    <a style="text-decoration: none; font-size:medium; color: honeydew;" href="dashboard">Go Back </a>
  </li>
</ul>
{% endblock %}



{% block router_content %}


<div class="container">
  <form method='POST' action="save">

    <div class="input-group">

      <label for="script_name">Script Name</label>


      <input type="text" class="form-control" name="script_name" value="{{script.script_name}}" aria-label="Script">
      
    </div>
    <hr>

    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="basic"> BASIC </h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="rname">Device Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="rname" name="rname" placeholder="Router Name......" value="{{script.isr4321.host_name}}">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="uname">User Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="uname" name="uname" placeholder="User Name......" value='{{script.isr4321.user_name}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="motdr"> MOTD Banner</label>
      </div>
      <div class="col-75">
        <input type="text" id="motdr" name="motdr" placeholder="Write your MOTD banner"
          value='{{script.isr4321.banner_motd}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="enpwd">Passwords Minimum Length</label>
      </div>
      <div class="col-75">
        <input type="text" id="enpwd" name="en_pass_length" placeholder="Encryption Password"
          value='{{script.isr4321.en_pass_length}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="secpwd">Security Password </label>
      </div>
      <div class="col-75">
        <input type="text" id="spwd" name="spwd" placeholder="Priviledge Password" value='{{script.isr4321.user_pass}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="enpwd">Enable Password </label>
      </div>
      <div class="col-75">
        <input type="text" id="enpwd" name="enpwd" placeholder="Encryption Password" value='{{script.isr4321.en_pass}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="dname">Domain Name </label>
      </div>
      <div class="col-75">
        <input type="text" id="dname" name="dname" placeholder="Encryption Password"
          value='{{script.isr4321.domain_name}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="login">Login block </label>
      </div>
      <div class="col-75">
        <input type="text" id="login" name="login" placeholder="Login block"
          value='{{script.isr4321.login_block_time}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="atmpt">Number of login attempt/s </label>
      </div>
      <div class="col-75">
        <input type="text" id="atmpt" name="atmpt" placeholder="Login block" value='{{script.isr4321.login_tries}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="sec">Within seconds</label>
      </div>
      <div class="col-75">
        <input type="text" id="sec" name="sec" placeholder="Within seconds" value='{{script.isr4321.tries_time}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="delay">Login Delay</label>
      </div>
      <div class="col-75">
        <input type="text" id="delay" name="delay" placeholder="Login Delay" value='{{script.isr4321.login_delay}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lghost">Logging Host</label>
      </div>
      <div class="col-75">
        <input type="text" id="lghost" name="lghost" placeholder="Logging Host IP Address"
          value='{{script.isr4321.login_host}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="Trap">Logging Trap</label>
      </div>
      <div class="col-75">
        <input type="text" id="Trap" name="Trap" placeholder="Logging Trap" value='{{script.isr4321.login_trap_level}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="src_int">Login Source Interface</label>
      </div>
      <div class="col-75">
        <input type="text" id="src_int" name="src_int" placeholder=">Login Source Interface"
          value='{{script.isr4321.login_source}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="intg00">Interface g0/0 Ip Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="intg00" name="g00_ip" placeholder="Ip address for g0/0"
          value='{{script.isr4321.g00_ipv4}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subg00">Subnet g0/0 </label>
      </div>
      <div class="col-75">
        <input type="text" id="subg00" name="g00_subnet" placeholder="Subnet for g0/0"
          value='{{script.isr4321.g00_subnet}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="intg0/1">Private IP g0/1 </label>
      </div>
      <div class="col-75">
        <input type="text" id="intg0/1" name="g01_ip" placeholder=" Private Ip address for g0/1"
          value='{{script.isr4321.g01_ipv4}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subg01">Subnet g0/1 </label>
      </div>
      <div class="col-75">
        <input type="text" id="subg01" name="g01_subnet" placeholder="Subnet for g0/1"
          value='{{script.isr4321.g01_subnet}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="intg0/2">Private IP g0/2 </label>
      </div>
      <div class="col-75">
        <input type="text" id="intg0/2" name="g02_ip" placeholder=" Private Ip address for g0/2"
          value='{{script.isr4321.g02_ipv4}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subg02">Subnet g0/2 </label>
      </div>
      <div class="col-75">
        <input type="text" id="subg02" name="g02_subnet" placeholder="Subnet for g0/2 "
          value='{{script.isr4321.g02_subnet}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="intg0/2">Private IP lo1 </label>
      </div>
      <div class="col-75">
        <input type="text" id="intg0/2" name="lo1_ip" placeholder=" Private Ip address for g0/2"
          value='{{script.isr4321.lo1_ip}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subg02">Subnet lo1 </label>
      </div>
      <div class="col-75">
        <input type="text" id="subg02" name="lo1_subnet" placeholder="Subnet for g0/2 "
          value='{{script.isr4321.lo1_subnet}}'>
      </div>
    </div>
    <!--g0/0-->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="add_g0/0"> Interface g0/0
      </h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="vrrp"> VRRP number </label>
      </div>
      <div class="col-75">
        <input type="text" id="vrrp" name="g00_vrrp_num" placeholder="VRRP number"
          value='{{script.isr4321.g00_vrrp_num}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="vip">Virtual IP Address </label>
      </div>
      <div class="col-75">
        <input type="text" id="vip" name="g00_vrrp_address" placeholder="Virtual IP Address"
          value='{{script.isr4321.g00_vrrp_address}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="vip">Track Range </label>
      </div>
      <div class="col-75">
        <input type="number" id="vipinc" name="g00_track_num" placeholder="Track start number"
          value='{{script.isr4321.g00_track_num}}'>
        <input type="number" id="vipdec" name="g00_track_dec" placeholder="Track end number"
          value='{{script.isr4321.g00_track_dec}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="priority">Priority Number </label>
      </div>
      <div class="col-75">
        <input type="text" id="priority" name="g00_priority" placeholder="Priority Number"
          value='{{script.isr4321.g00_priority}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="vrrp"> IPv6 VRRP number </label>
      </div>
      <div class="col-75">
        <input type="text" id="vrrp" name="g00_ipv6_vrrp_num" placeholder="VRRP number"
          value='{{script.isr4321.g00_ipv6_vrrp_num}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="vip">IPv6 Virtual IP Address </label>
      </div>
      <div class="col-75">
        <input type="text" id="vip" name="g00_ipv6_vrrp_address" placeholder="Virtual IP Address"
          value='{{script.isr4321.g00_ipv6_vrrp_address}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="vip"> IPv6 Track Range </label>
      </div>
      <div class="col-75">
        <input type="number" id="vipinc" name="g00_ipv6_track_num" placeholder="Track start number"
          value='{{script.isr4321.g00_ipv6_track_num}}'>
        <input type="number" id="vipdec" name="g00_ipv6_track_dec" placeholder="Track end number"
          value='{{script.isr4321.g00_ipv6_track_dec}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="priority">IPv6 Priority Number </label>
      </div>
      <div class="col-75">
        <input type="text" id="priority" name="g00_ipv6_priority" placeholder="Priority Number"
          value='{{script.isr4321.g00_ipv6_priority}}'>
      </div>
    </div>
    <!--OSPF-->
    <!--OSPF-->
    <!--OSPF-->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="add_ospf"> OSPF </h3>
    </div>


    <div class="row">
      <h5 style="display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;"
        id="add_ospf"> Interface g0/1 </h5>
    </div>

    <div class="row">
      <div class="col-25">
        <label name="oname">IPv4 OSPF Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="oname" name="g01_ospfv3_ipv4" placeholder="Enter your OSPFv3 number "
          value='{{script.isr4321.g01_ospfv3_ipv4}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="areaospf">IPv4 Area Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="v4anum" name="g01_ospfv3_area" placeholder="IPv4 Area Number"
          value='{{script.isr4321.g01_ospfv3_area}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label name="oname">IPv6 OSPF Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="oname" name="g01_ospfv3_ipv6" placeholder="Enter your OSPFv3 number "
          value='{{script.isr4321.g01_ospfv3_ipv6}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="areaospf">IPv6 Area Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="v4anum" name="g01_ospfv3_v6_area" placeholder="IPv4 Area Number"
          value='{{script.isr4321.g01_ospfv3_v6_area}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="areaospf">OSPF Encryption Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="v4anum" name="g01_ospfv3_encryption_num" placeholder="IPv4 Area Number"
          value='{{script.isr4321.g01_ospfv3_encryption_num}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="areaospf">OSPF SHA</label>
      </div>
      <div class="col-75">
        <input type="text" id="v4anum" name="g01_ospfv3_encryption_sha" placeholder="IPv4 Area Number"
          value='{{script.isr4321.g01_ospfv3_encryption_sha}}'>
      </div>
    </div>
    <div class="row">
      <h5 style="display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;"
        id="add_ospf"> Interface g0/2 </h5>
    </div>
    <div class="row">
      <div class="col-25">
        <label name="oname">IPv4 OSPF Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="oname" name="g02_ospfv3_ipv4" placeholder="Enter your OSPFv3 number "
          value='{{script.isr4321.g02_ospfv3_ipv4}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="areaospf">IPv4 Area Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="v4anum" name="g02_ospfv3_area" placeholder="IPv4 Area Number"
          value='{{script.isr4321.g02_ospfv3_area}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label name="oname">IPv6 OSPF Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="oname" name="g02_ospfv3_ipv6" placeholder="Enter your OSPFv3 number "
          value='{{script.isr4321.g02_ospfv3_ipv6}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="areaospf">IPv6 Area Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="v4anum" name="g02_ospfv3_v6_area" placeholder="IPv4 Area Number"
          value='{{script.isr4321.g02_ospfv3_v6_area}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="areaospf">OSPF Encryption Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="v4anum" name="g02_ospfv3_encryption_num" placeholder="IPv4 Area Number"
          value='{{script.isr4321.g02_ospfv3_encryption_num}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="areaospf">OSPF SHA</label>
      </div>
      <div class="col-75">
        <input type="text" id="v4anum" name="g02_ospfv3_encryption_sha" placeholder="IPv4 Area Number"
          value='{{script.isr4321.g02_ospfv3_encryption_sha}}'>
      </div>
    </div>
    <div class="row">
      <h5 style="display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;"
        id="add_ospf"> Loopback 01 </h5>
    </div>
    <div class="row">
      <div class="col-25">
        <label name="oname">IPv4 OSPF Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="oname" name="lo1_ospfv3_ipv4" placeholder="Enter your OSPFv3 number "
          value='{{script.isr4321.lo1_ospfv3_ipv4}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="areaospf">IPv4 Area Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="v4anum" name="lo1_ospfv3_area" placeholder="IPv4 Area Number"
          value='{{script.isr4321.lo1_ospfv3_area}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="areaospf">OSPF Process ID</label>
      </div>
      <div class="col-75">
        <input type="text" id="v4anum" name="ospf_process_id" placeholder="IPv4 Area Number"
          value='{{script.isr4321.ospf_process_id}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="areaospf">IPv4 Router ID</label>
      </div>
      <div class="col-75">
        <input type="text" id="v4anum" name="ospfv3_ipv4_rid" placeholder="IPv4 Area Number"
          value='{{script.isr4321.ospfv3_ipv4_rid}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="areaospf">IPv6 Router ID</label>
      </div>
      <div class="col-75">
        <input type="text" id="v4anum" name="ospfv3_ipv6_rid" placeholder="IPv4 Area Number"
          value='{{script.isr4321.ospfv3_ipv6_rid}}'>
      </div>
    </div>

    <!--Default routes-->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="add_default"> Default
        Routes
      </h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="wanlpbk">WAN Loopback </label>
      </div>
      <div class="col-75">
        <input type="text" id="wanlpbk" name="route_wan_lo_network" placeholder="WAN Loopback Network"
          value='{{script.isr4321.route_wan_lo_network}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="wanlpbksub">WAN Loopback Subnet </label>
      </div>
      <div class="col-75">
        <input type="text" id="wanlpbksub" name="route_wan_lo_subnet" placeholder="WAN Loopback Network Subnet"
          value='{{script.isr4321.route_wan_lo_subnet}}'>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="wanexthop"> Next Hop Address </label>
      </div>
      <div class="col-75">
        <input type="text" id="wanexthop" name="next_hop_wan" placeholder=" Next WAN Hop Address"
          value='{{script.isr4321.next_hop_wan}}'>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="roppnet"> Route opposite Loopback </label>
      </div>
      <div class="col-75">
        <input type="text" id="roppnet" name="route_opp_lo_network" placeholder=" R opposite Loopback  Network "
          value='{{script.isr4321.route_opp_lo_network}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="roppnetsub"> Route opposite Loopback Subnet </label>
      </div>
      <div class="col-75">
        <input type="text" id="roppnetsub" name="route_opp_lo_subnet"
          placeholder=" R opposite Loopback  Network Subnet " value='{{script.isr4321.route_opp_lo_subnet}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="nexthop"> Next Hop Router </label>
      </div>
      <div class="col-75">
        <input type="text" id="nexthop" name="next_hop_router" placeholder="  Route next hop"
          value='{{script.isr4321.next_hop_router}}'>
      </div>
    </div>
    <hr>
    <!--BGP-->
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="add_bgp"> BGP </h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ename">BGP Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="bgpname" name="bgp_process_id" placeholder="Enter your BGP number "
          value='{{script.isr4321.bgp_process_id}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="bgprouter">BGP Router ID</label>
      </div>
      <div class="col-75">
        <input type="text" id="bgprouter" name="bgp_router_id" placeholder="Enter your BGP number "
          value='{{script.isr4321.bgp_router_id}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="wanlo">Neighbor Loopback IP</label>
      </div>
      <div class="col-75">
        <input type="text" id="wanlo" name="neighbor_wan_lo_ip" placeholder="Enter Neighbor WAN Loopback "
          value='{{script.isr4321.neighbor_wan_lo_ip}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="wanas">AS number (WAN-Loopback)</label>
      </div>
      <div class="col-75">
        <input type="text" id="wanas" name="neighbor_wan_lo_as" placeholder="Enter your AS number  "
          value='{{script.isr4321.neighbor_wan_lo_as}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="wanupdt"> WAN Update IP</label>
      </div>
      <div class="col-75">
        <input type="text" id="wanupdt" name="neighbor_wan_lo_update_ip" placeholder="WAN Update IP"
          value='{{script.isr4321.neighbor_wan_lo_update_ip}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="wanint">WAN Update Interface </label>
      </div>
      <div class="col-75">
        <input type="text" id="wanint" name="neighbor_wan_lo_update_int" placeholder="WAN Update Interface"
          value='{{script.isr4321.neighbor_wan_lo_update_int}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="bgpipv6add">Neighbour IPV6 Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="bgpipv6add" name="neighbor_ipv6_add" placeholder="Neighbour IPV6 Address"
          value='{{script.isr4321.neighbor_ipv6_add}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="neighipv6as">Neighbour AS (IPV6)</label>
      </div>
      <div class="col-75">
        <input type="text" id="neighipv6as" name="neighbor_ipv6_as" placeholder="Neighbour AS (IPV6)"
          value='{{script.isr4321.neighbor_ipv6_as}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="neighipv4">IPV4 Neighbor (IP) </label>
      </div>
      <div class="col-75">
        <input type="text" id="neighipv4" name="bgp_ipv4_neighbor_ip" placeholder="IPV4 Neighbor (IP)"
          value='{{script.isr4321.bgp_ipv4_neighbor_ip}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="neighnet4"> Neighbor IPv4 Network</label>
      </div>
      <div class="col-75">
        <input type="text" id="wanineighnet4p" name="bgp_ipv4_network" placeholder="Neighbor IPv4 Network"
          value='{{script.isr4321.bgp_ipv4_network}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="neighsub4"> Neighbor IPv4 Network Subnet</label>
      </div>
      <div class="col-75">
        <input type="text" id="neighsub4" name="bgp_ipv4_subnet" placeholder="Neighbor IPv4 Network Subnet"
          value='{{script.isr4321.bgp_ipv4_subnet}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="wanip"> Neighbor IP Address (inward)</label>
      </div>
      <div class="col-75">
        <input type="text" id="wanip" name="bgp_ipv4_neighbor_wan_ip_in" placeholder="WAN IP Address"
          value='{{script.isr4321.bgp_ipv4_neighbor_wan_ip_in}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="routemapwan"> Neighbor Route Map (inward)</label>
      </div>
      <div class="col-75">
        <input type="text" id="routemapwan" name="bgp_ipv4_neighbor_wan_route_map_in"
          placeholder="Neighbor WAN Route Map" value='{{script.isr4321.bgp_ipv4_neighbor_wan_route_map_in}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="comipv4"> IPV4 Community</label>
      </div>
      <div class="col-75">
        <input type="text" id="comipv4" name="bgp_ipv4_community" placeholder="NIPV4 Community"
          value='{{script.isr4321.bgp_ipv4_community}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="neighwanout"> Neighbor WAN (Outward)</label>
      </div>
      <div class="col-75">
        <input type="text" id="neighwanout" name="bgp_ipv4_neighbor_wan_ip_out" placeholder="Neighbor WAN (Outward)"
          value='{{script.isr4321.bgp_ipv4_neighbor_wan_ip_out}}'>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="routemapwanout"> Neighbor WAN Route Map (outward)</label>
      </div>
      <div class="col-75">
        <input type="text" id="routemaroutemapwanoutpwan" name="bgp_ipv4_neighbor_wan_route_map_out"
          placeholder="Neighbor WAN Route Map (outward)" value='{{script.isr4321.bgp_ipv4_neighbor_wan_route_map_out}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ipv6neigh"> Neighbor WAN IPv6 Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="ipv6neigh" name="bgp_ipv6_neighbor_ip" placeholder="Neighbor WAN IPv6 Address"
          value='{{script.isr4321.bgp_ipv6_neighbor_ip}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ipv6net"> Neighbor IPv6 Network</label>
      </div>
      <div class="col-75">
        <input type="text" id="ipv6net" name="bgp_ipv6_network" placeholder="Neighbor IPv6 Network"
          value='{{script.isr4321.bgp_ipv6_network}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ipv6sub"> Neighbor IPv6 Network Subnet</label>
      </div>
      <div class="col-75">
        <input type="text" id="ipv6sub" name="bgp_ipv6_subnet" placeholder="Neighbor IPv6 Network Subnet"
          value='{{script.isr4321.bgp_ipv6_subnet}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="neighwanIPV6"> Neighbor IPv6 WAN (Inside)</label>
      </div>
      <div class="col-75">
        <input type="text" id="neighwanIPV6" name="bgp_ipv6_neighbor_wan_ip_in" placeholder="Neighbor IPv6 WAN (Inside)"
          value='{{script.isr4321.bgp_ipv6_neighbor_wan_ip_in}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="comipv6"> IPV6 Community</label>
      </div>
      <div class="col-75">
        <input type="text" id="comipv6" name="bgp_ipv6_community" placeholder="IPV6 Community"
          value='{{script.isr4321.bgp_ipv6_community}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="routemapwanin"> Neighbor WAN Route Map (Inside)</label>
      </div>
      <div class="col-75">
        <input type="text" id="routemapwanin" name="bgp_ipv6_neighbor_wan_route_map_in"
          placeholder=" Neighbor WAN Route Map (Inside)" value='{{script.isr4321.bgp_ipv6_neighbor_wan_route_map_in}}'>
      </div>
    </div>



    <!--advanced options-->
    <!--acl-->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="add_acl"> ACL </h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="acl"> ACL Number </label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" id="acl" name="acl_name" placeholder="ACL Number"
          value='{{script.isr4321.acl_name}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="privnet"> ACL String</label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" id="privnet" name="acl_string" placeholder=" DENY/PERMIT "
          value='{{script.isr4321.acl_string}}'>
      </div>
    </div>

    <!--ipv6-->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="add_ipv6"> IPV6 </h3>
    </div>
    <div class="row">
      <h5 style="display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;">
        Interface g0/0 </h5>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="v6g00">Interface g0/0 IPv6 </label>
      </div>
      <div class="col-75">
        <input type="text" class="form-control" id="v6g00" name="g00_ipv6_address" placeholder="Ipv6 address for g0/0"
          value='{{script.isr4321.g00_ipv6_address}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="linkadd">Link Local g0/0</label>
      </div>
      <div class="col-75">
        <input type="text" id="linkadd" name="g00_ipv6_link" placeholder="Link Local address for g0/0"
          value='{{script.isr4321.g00_ipv6_link}}'>
      </div>
    </div>
    <div class="row">
      <h5 style="display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;">
        Interface g0/1 </h5>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="v6g01">Interface g0/1 IPv6 </label>
      </div>
      <div class="col-75">
        <input type="text" id="v6g01" name="g01_ipv6_address" placeholder="Ipv6 address for g0/1"
          value='{{script.isr4321.g01_ipv6_address}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="linkg01">Link Local g0/0</label>
      </div>
      <div class="col-75">
        <input type="text" id="linkg01" name="g01_ipv6_link" placeholder="Link Local address for g0/1"
          value='{{script.isr4321.g01_ipv6_link}}'>
      </div>
    </div>
    <div class="row">
      <h5 style="display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;">
        Interface g0/2 </h5>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="v6g02">Interface g0/2 IPv6 </label>
      </div>
      <div class="col-75">
        <input type="text" id="v6g02" name="g02_ipv6_address" placeholder="Ipv6 address for g0/2"
          value='{{script.isr4321.g02_ipv6_address}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="linkg02">Link Local g0/2</label>
      </div>
      <div class="col-75">
        <input type="text" id="linkg02" name="g02_ipv6_link" placeholder="Link Local address for g0/2"
          value='{{script.isr4321.g02_ipv6_link}}'>
      </div>
    </div>
    <!-- <div class="col-25">
        <label for="ipv6r">IP Address</label>
      </div>
      <div class="col-75">
        <input type="text"  id="ipv6r" name="ipv6r" placeholder="Ipv6 Address">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ipv6sub">Subnet</label>
      </div>
      <div class="col-75">
        <input type="text"  id="ipv6sub" name="ipv6sub" placeholder="Subnet">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="intfcev6"> Network Interface </label>
      </div>
      <div class="col-75">
        <input type="text"  id="intfcev6" name="intfcev6" placeholder="Interface">
      </div>
    </div>-->
    <!--NAT-->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="add_nat"> NAT </h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="nat">NAT Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="nat" name="nat_pool_name" placeholder="NAT Name"
          value='{{script.isr4321.nat_pool_name}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="nat">Interface g0/0 NAT</label>
      </div>
      <div class="col-75">
        <input type="text" id="nat" name="g00_nat" placeholder="NAT Name" value='{{script.isr4321.g00_nat}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="nat">Interface g0/1 NAT</label>
      </div>
      <div class="col-75">
        <input type="text" id="nat" name="g01_nat" placeholder="NAT Name" value='{{script.isr4321.g01_nat}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="nat">Interface g0/2 NAT</label>
      </div>
      <div class="col-75">
        <input type="text" id="nat" name="g02_nat" placeholder="NAT Name" value='{{script.isr4321.g02_nat}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="pubstrt">Start public address</label>
      </div>
      <div class="col-75">
        <input type="text" id="pubstrt" name="nat_start_address" placeholder="Start public address"
          value='{{script.isr4321.nat_start_address}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="pubend"> Last public address </label>
      </div>
      <div class="col-75">
        <input type="text" id="pubend" name="nat_end_address" placeholder="Last public address"
          value='{{script.isr4321.nat_end_address}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="netmask"> Netmask </label>
      </div>
      <div class="col-75">
        <input type="text" id="netmask" name="nat_subnet" placeholder="Netmask" value='{{script.isr4321.nat_subnet}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="nno"> NAT ACL Number </label>
      </div>
      <div class="col-75">
        <input type="text" id="nno" name="nat_acl_number" placeholder="NAT Number"
          value='{{script.isr4321.nat_acl_number}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="nno"> NAT ACL Permit IP </label>
      </div>
      <div class="col-75">
        <input type="text" id="nno" name="nat_acl_permit_ip" placeholder="NAT Number"
          value='{{script.isr4321.nat_acl_permit_ip}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="nno"> NAT ACL Permit Wildcard </label>
      </div>
      <div class="col-75">
        <input type="text" id="nno" name="nat_acl_permit_wildcard" placeholder="NAT Number"
          value='{{script.isr4321.nat_acl_permit_wildcard}}'>
      </div>
    </div>

    <!--AAA-->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="add_aaa"> AAA </h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="aaa"> Radius Group Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="aaa" name="group_name" placeholder="Radius name" value='{{script.isr4321.group_name}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="aaa"> Radius Server Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="aaa" name="radius_server_name" placeholder="Radius name"
          value='{{script.isr4321.radius_server_name}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="aaa"> Radius Password</label>
      </div>
      <div class="col-75">
        <input type="text" id="aaa" name="radius_pass" placeholder="Radius name" value='{{script.isr4321.radius_pass}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="aaa"> Radius Server Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="aaa" name="server_address" placeholder="Radius name"
          value='{{script.isr4321.server_address}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="server"> Maximum Failure</label>
      </div>
      <div class="col-75">
        <input type="text" id="server" name="max_fail" placeholder="server name" value='{{script.isr4321.max_fail}}'>
      </div>
    </div>
    <!--ZONE and ssh-->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="zns"> ZONE AND SSH </h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="timeout"> SSH Time-out </label>
      </div>
      <div class="col-75">
        <input type="text" id="sshversion" name="ssh_timeout" placeholder="SSH Time-out"
          value='{{script.isr4321.ssh_timeout}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="cryptokey"> SSH Crypto Modulous </label>
      </div>
      <div class="col-75">
        <input type="text" id="cryptokey" name="ssh_crypto_key" placeholder="SSH Time-out"
          value='{{script.isr4321.ssh_crypto_key}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="auth"> Authenication Retries</label>
      </div>
      <div class="col-75">
        <input type="text" id="auth" name="ssh_retries" placeholder="Authenication Retirement"
          value='{{script.isr4321.ssh_retries}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="zone"> Match Protocol (Zone) </label>
      </div>
      <div class="col-75">
        <input type="checkbox" id="zone" name="zone" placeholder="TCP" value='' checked="true"> TCP
        <input type="checkbox" id="zone" name="zone" placeholder="UDP" value=' ' checked="true"> UDP
        <input type="checkbox" id="zone" name="zone" placeholder="ICMP" value='' checked="true"> ICMP
        <input type="checkbox" id="zone" name="zone" placeholder="HTTPS" value='' checked="true"> HTTPS
        <input type="checkbox" id="zone" name="zone" placeholder="SSH" value='' checked="true"> SSH
      </div>

    </div>
    <div class="row">
      <div class="col-25">
        <label for="zsec">Interface g0/0 zone</label>
      </div>
      <div class="col-75">
        <input type="text" id="zsec" name="g00_zone" placeholder="Zone Security Name"
          value='{{script.isr4321.g00_zone}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="zsec">Interface g0/1 zone</label>
      </div>
      <div class="col-75">
        <input type="text" id="zsec" name="g01_zone" placeholder="Zone Security Name"
          value='{{script.isr4321.g01_zone}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="zsec">Interface g0/2 zone</label>
      </div>
      <div class="col-75">
        <input type="text" id="zsec" name="g02_zone" placeholder="Zone Security Name2"
          value='{{script.isr4321.g02_zone}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="zsec">Inside Zone Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="zsec" name="zone_name" placeholder="Zone Security Name"
          value='{{script.isr4321.zone_name}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="zint"> Outside Zone Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="zint" name="zone_internet" placeholder="Zone Security Internet"
          value='{{script.isr4321.zone_internet}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policy"> Policy Map </label>
      </div>
      <div class="col-75">
        <input type="text" id="policy" name="policy_map" placeholder=" Policy Map Nmae"
          value='{{script.isr4321.policy_map}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="route"> Class Map </label>
      </div>
      <div class="col-75">
        <input type="text" id="route" name="class_map_name" placeholder="Route Map Name"
          value='{{script.isr4321.class_map_name}}'>
      </div>
    </div>
    <!--ROUTE MAP-->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="add_route"> ROUTE MAP
      </h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Route Map Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="route_map_name" placeholder="Route Map Name"
          value='{{script.isr4321.route_map_name}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Route Map Permit 1</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="route_map_permit_1" placeholder="Route Map Permit"
          value='{{script.isr4321.route_map_permit_1}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Route Map Match List</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="route_map_match_list" placeholder="Route Map Match List"
          value='{{script.isr4321.route_map_match_list}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Set Weight</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="set_weight" placeholder="Set Weight"
          value='{{script.isr4321.set_weight}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Set Metric</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="set_metric" placeholder="Set Metric"
          value='{{script.isr4321.set_metric}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Route Map Permit 2</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="route_map_permit_2" placeholder="Route Map Permit 2"
          value='{{script.isr4321.route_map_permit_2}}'>
      </div>
    </div>


    <!--IP PREFIX LIST-->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="add_crypto"> Tunneling
        AND
        Prefix List
      </h3>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="policynum"> Tunnel Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="tunnel_num" placeholder="Policy Number"
          value='{{script.isr4321.tunnel_num}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Tunnel IPV6 Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="tunnel_ipv6_add" placeholder="Tunnel IPV6 Address"
          value='{{script.isr4321.tunnel_ipv6_add}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Tunnel IPV6 Prefix</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="tunnel_ipv6_prefix" placeholder="unnel IPV6 Prefix"
          value='{{script.isr4321.tunnel_ipv6_prefix}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Tunnel Source Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="tunnel_source_interface" placeholder="Tunnel Source Address"
          value='{{script.isr4321.tunnel_source_interface}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Tunnel Destination Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="tunnel_destination_address" placeholder="Tunnel Destination Address"
          value='{{script.isr4321.tunnel_destination_address}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Tunnel Protection Profile</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="tunnel_protection_profile" placeholder="Tunnel Protection Profile"
          value='{{script.isr4321.tunnel_protection_profile}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Ip Prefix List Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="ip_prefix_list_name" placeholder="Ip Prefix List Name"
          value='{{script.isr4321.ip_prefix_list_name}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Ip Prefix List Network</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="ip_prefix_list_network" placeholder="Policy Number"
          value='{{script.isr4321.ip_prefix_list_network}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="policynum"> Ip Prefix List Subnet</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="ip_prefix_list_subnet" placeholder="Policy Number"
          value='{{script.isr4321.ip_prefix_list_subnet}}'>
      </div>
    </div>
    <!--crypto keys-->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="add_crypto"> CRYPTO
        SETTINGS</h3>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="policynum"> Policy Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="policynum" name="isakmp_policy" placeholder="Policy Number"
          value='{{script.isr4321.isakmp_policy}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="iskapwd"> Isakmp Password</label>
      </div>
      <div class="col-75">
        <input type="text" id="iskapwd" name="iskapwd" placeholder="Isakmp Password"
          value='{{script.isr4321.isakmp_password}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="remotepeer"> Isakmp Remote peer</label>
      </div>
      <div class="col-75">
        <input type="text" id="remotepeer" name="remotepeer" placeholder="Isakmp Remote Peer"
          value='{{script.isr4321.isakmp_remote_peer}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="tag"> Isakmp Tag </label>
      </div>
      <div class="col-75">
        <input type="text" id="tag" name="tag" placeholder="Isakmp TAG" value='{{script.isr4321.isakmp_tag}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="srtip"> Crypto Access List</label>
      </div>
      <div class="col-75">
        <input type="text" id="srtip" name="acl" placeholder="Crytpo Strat id"
          value='{{script.isr4321.crypto_access_list}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="srtip"> Crypto Permit Start IP</label>
      </div>
      <div class="col-75">
        <input type="text" id="srtip" name="srtip" placeholder="Crytpo Strat id"
          value='{{script.isr4321.crypto_permit_ip_start}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="wldstrtip"> Crypto Wildcard Start ID </label>
      </div>
      <div class="col-75">
        <input type="text" id="wldstrtip" name="wldstrtip" placeholder="Crypto Wildcard Start ID"
          value='{{script.isr4321.crypto_permit_start_wild}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="endip"> Crypto Permit Last IP </label>
      </div>
      <div class="col-75">
        <input type="text" id="endip" name="endip" placeholder="Crypto last address"
          value='{{script.isr4321.crypto_permit_ip_end}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lstid"> Crypto Wildcard Last ID </label>
      </div>
      <div class="col-75">
        <input type="text" id="tag" name="lstid" placeholder="Last Wildcard ID"
          value='{{script.isr4321.crypto_permit_end_wild}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="mcacl"> Crypto Match Access list</label>
      </div>
      <div class="col-75">
        <input type="text" id="mcacl" name="mcacl" placeholder=" Match Crytpo ACL"
          value='{{script.isr4321.crypto_map_match_access_list}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="peerwan"> Peer Address </label>
      </div>
      <div class="col-75">
        <input type="text" id="peerwan" name="peerwan" placeholder="Peer Address Network "
          value='{{script.isr4321.crypto_map_peer}}'>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="keyname"> Key Ring Name </label>
      </div>
      <div class="col-75">
        <input type="text" id="keyname" name="keyname" placeholder="Key Ring Name "
          value='{{script.isr4321.crypto_keyring}}'>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="cpwd">Isakmp Ipv6 Password</label>
      </div>
      <div class="col-75">
        <input type="text" id="cpwd" name="cpwd" placeholder="Isakmp IPV6 Password "
          value='{{script.isr4321.isakmp_ipv6_password}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="remotepeer">Ipv6 remote peer</label>
      </div>
      <div class="col-75">
        <input type="text" id="remotepeer" name="isakmp_ipv6_remote_peer" placeholder=" Isakmp ipv6 remote peer"
          value='{{script.isr4321.isakmp_ipv6_remote_peer_ip}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="prefixpeer">Remote peer prefix</label>
      </div>
      <div class="col-75">
        <input type="text" id="prefixpeer" name="prefixpeer" placeholder="Isakmp remote peer prefix "
          value='{{script.isr4321.isakmp_ipv6_remote_peer_prefix}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="preshared">Pre shared Key ipv6</label>
      </div>
      <div class="col-75">
        <input type="text" id="preshared" name="preshared" placeholder="Pre shared Key IPv6 "
          value='{{script.isr4321.crypto_pre_shared_key_ipv6}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="presharedpre">Shared key prefix</label>
      </div>
      <div class="col-75">
        <input type="text" id="presharedpre" name="presharedpre" placeholder="Shared Key Prefix "
          value='{{script.isr4321.crypto_pre_shared_key_prefix}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lftime">Shared key</label>
      </div>
      <div class="col-75">
        <input type="text" id="lftime" name="crypto_pre_shared_key" placeholder="Lifetime Seconds "
          value='{{script.isr4321.crypto_pre_shared_key}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="iptrans"> Crypto Ipsec Transform Set</label>
      </div>
      <div class="col-75">
        <input type="text" id="iptrans" name="crypto_ipsec_transform_set" placeholder="Ipsecd Transoform Set "
          value='{{script.isr4321.crypto_ipsec_transform_set}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="trans">Ipsec Transoform Set</label>
      </div>
      <div class="col-75">
        <input type="text" id="trans" name="ipsec_transform_set" placeholder="Ipsec Transoform Set"
          value='{{script.isr4321.ipsec_transform_set}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="isakmpset"> isakmp profile</label>
      </div>
      <div class="col-75">
        <input type="text" id="isakmpset" name="isakmp_profile" placeholder="isakmp set"
          value='{{script.isr4321.isakmp_profile}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="isakmpset"> Isakmp match Ipv6</label>
      </div>
      <div class="col-75">
        <input type="text" id="isakmpset" name="isakmpset" placeholder="isakmp set"
          value='{{script.isr4321.isakmp_match_ipv6_add}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="iskampre"> Prefix match</label>
      </div>
      <div class="col-75">
        <input type="text" id="iskampre" name="isakmp_match_ipv6_prefix" placeholder="isakmp set"
          value='{{script.isr4321.isakmp_match_ipv6_prefix}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="transet">Crypto Map Name </label>
      </div>
      <div class="col-75">
        <input type="text" id="transet" name="crypto_map_name" placeholder="Transform Set "
          value='{{script.isr4321.crypto_map_name}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="transet">Crypto Map Number </label>
      </div>
      <div class="col-75">
        <input type="text" id="transet" name="crypto_map_num" placeholder="Transform Set "
          value='{{script.isr4321.crypto_map_num}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="transet">Crypto Map Transform Set </label>
      </div>
      <div class="col-75">
        <input type="text" id="transet" name="crypto_map_transform_set" placeholder="Transform Set "
          value='{{script.isr4321.crypto_map_transform_set}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lftime">LifeTime Seconds</label>
      </div>
      <div class="col-75">
        <input type="text" id="lftime" name="crypto_map_lifetime_seconds" placeholder="Lifetime Seconds "
          value='{{script.isr4321.crypto_map_lifetime_seconds}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="pro">Name Profile </label>
      </div>
      <div class="col-75">
        <input type="text" id="pro" name="ipsec_profile" placeholder="Name Profile "
          value='{{script.isr4321.ipsec_profile}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lftime">Isakmp Ipv6 Policy</label>
      </div>
      <div class="col-75">
        <input type="text" id="lftime" name="isakmp_ipv6_policy" placeholder="Lifetime Seconds "
          value='{{script.isr4321.isakmp_ipv6_policy}}'>
      </div>
    </div>


    <!--NTP-->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="ntp"> NTP</h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="peer1"> NTP Peer Address 1</label>
      </div>
      <div class="col-75">
        <input type="text" id="peer1" name="ntp_peer_add1" placeholder="NTP Peer Address 1"
          value='{{script.isr4321.ntp_peer_add1}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="peer1"> NTP Peer Address 2</label>
      </div>
      <div class="col-75">
        <input type="text" id="peer2" name="ntp_peer_add2" placeholder="NTP Peer Address 2"
          value='{{script.isr4321.ntp_peer_add2}}'>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="ntpnum">NTP Master</label>
      </div>
      <div class="col-75">
        <input type="text" id="ntpnum" name="ntpnum" placeholder="NTP Master "
          value='{{script.isr4321.ntp_master_num}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="authkey"> Authentication Key</label>
      </div>
      <div class="col-75">
        <input type="text" id="authkey" name="ntp_auth_key_num" placeholder="Authentication Key "
          value='{{script.isr4321.ntp_auth_key_num}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="Md5"> Md5 Password </label>
      </div>
      <div class="col-75">
        <input type="text" id="Md5" name="ntp_auth_key_pass" placeholder="Md5 Password "
          value='{{script.isr4321.ntp_auth_key_pass}}'>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="trstkey"> Trust Key </label>
      </div>
      <div class="col-75">
        <input type="text" id="trstkey" name="ntp_trust_key" placeholder="Trust Key"
          value='{{script.isr4321.ntp_trust_key}}'>
      </div>
    </div>
    <div class="row">
      <hr>
      <div class="col">
        <div class='d-flex justify-content-between'>

          {% csrf_token %}

          <input type='hidden' name='device_id' value='1'>
          {% if script.id is not null %}
          <input type='hidden' name='script_id' value='{{script.id}}'>
          {% endif %}
          <button class="btn btn-primary" type="submit"><i data-feather="save"></i> <span>Save</span></button>

  </form>


  {% if script.id is not null %}
  <form method='POST' action="generate_exe">
    {% csrf_token %}
    <input type='hidden' name='script_id' value='{{script.id}}'>
    <button class="btn btn-success" type="submit"><i data-feather="download"></i>
      <span>Executable</span></button>
  </form>
  <form method='POST' action="generate_text">
    {% csrf_token %}
    <input type='hidden' name='script_id' value='{{script.id}}'>
    <button class="btn btn-success" type="submit"><i data-feather="download"></i> <span>Text</span></button>
  </form>
  {% endif %}
  <button class="btn btn-primary">
    <span><a href="dashboard" class="text-white">Cancel</a></span></button>
</div>
</div>
</div>
</div>



{% endblock %}