{% extends 'base.html' %}\
{% load static %}

{% block router-collapse %}show{% endblock %}
<link href="{% static 'css/router.css' %}" rel="stylesheet">
{% block content %}
<h1 style="font-family: monospace; color: darkblue;"> WAN - 1</h1>
<div class="container">
  <form action="#">
  <div class="row">
    <div class="col-25" style="display: inline-block;">
      <label for="Name">Device Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="dname" name="Dname" placeholder="Device Name">
    </div>
  </div>
  <div class="col-75">
    <select id="intfc" name="Interface">
      <option value="int1">G0/0</option>
      <option value="int2">G0/1</option>
      <option value="int3">S0/0/0</option>
    </select>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Last Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="country">Country</label>
    </div>
    
  </div>
  <div class="row">
    <div class="col-25">
      <label for="subject">Subject</label>
    </div>
    <div class="col-75">
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <input type="submit" value="Submit">
  </div>
  </form>
</div>
{% endblock %}