{% extends 'index.html' %}

{% load static %}

{% block sidebar %}
<ul class="sidebar-nav">
  <li class="sidebar-header">
    Layer 3 Switch -WSC3650
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#basic">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Basic Function</span>
    </a>
  </li>
  <li class="sidebar-header">
    Protocols
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#radius">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Radius</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#ntp">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">NTP</span>
    </a>
  </li>
  <li class="sidebar-header">
    Advanced Options
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#login_security">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">Login Security</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" gotoid="#vlan">
      <i class="align-middle" data-feather="briefcase"></i> <span class="align-middle">VLAN</span>
    </a>
  </li>
</ul>
{% endblock %}


{% block router_content %}

<div class="container">
  <form method='POST' action="save">

    <div class="input-group">

      <label for="script_name">Script Name</label>


      <input type="text" class="form-control" name="script_name" value="{{script.script_name}}" aria-label="Script">
      
    </div>
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="basic">BASIC</h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="host_name">Device Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="host_name" name="host_name" placeholder="Device Name">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="banner_motd">Banner MOTD</label>
      </div>
      <div class="col-75">
        <input type="text" id="banner_motd" name="banner_motd" placeholder="Banner MOTD">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="secret">Secret Password</label>
      </div>
      <div class="col-75">
        <input type="text" id="secret" name="secret" placeholder="Secret Password">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="deafult_gateway">Default Gateway</label>
      </div>
      <div class="col-75">
        <input type="text" id="default_gateway" name="default_gateway" placeholder="xxx.xxx.xxx.xxx">
      </div>
    </div>
    <hr>
    <!-- Radius -->
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="radius">Radius</h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="radius_server">Radius Server Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="radius_server" name="radius_server" placeholder="Server Name">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="radius_ip">Radius IP Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="radius_ip" name="radius_ip" placeholder="xxx.xxx.xxx.xxx">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="radius_group">Radius Group Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="radius_group" name="radius_group" placeholder="Group Name">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="radius_key">Radius Key</label>
      </div>
      <div class="col-75">
        <input type="text" id="radius_key" name="radius_key" placeholder="Radius Password">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="max_fail">Authentication Attempts</label>
      </div>
      <div class="col-75">
        <input type="text" id="max_fail" name="max_fail" placeholder="Number of Attempts">
      </div>
    </div>
    <hr>
    <!-- NTP -->
    
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="ntp">NTP</h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ntp_server">NTP Server</label>
      </div>
      <div class="col-75">
        <input type="text" id="ntp_server" name="ntp_server" placeholder="xxx.xxx.xxx.xxx">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ntp_auth_key">Authentication Key</label>
      </div>
      <div class="col-75">
        <input type="text" id="ntp_auth_key" name="ntp_auth_key" placeholder="Authentication Key Number">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ntp_trust_key">Trusted Key</label>
      </div>
      <div class="col-75">
        <input type="text" id="ntp_trust_key" name="ntp_trust_key" placeholder="Trusted Key Number">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ntp_pass">Password</label>
      </div>
      <div class="col-75">
        <input type="text" id="ntp_pass" name="ntp_pass" placeholder="Password">
      </div>
    </div>
    <hr>
    <!-- Login Security -->
    
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="login_security">Login
        Security</h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="login_block_time">Login Block</label>
      </div>
      <div class="col-75">
        <input type="text" id="login_block_time" name="login_block_time" placeholder="Time in Seconds">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="login_tries">Available Trials</label>
      </div>
      <div class="col-75">
        <input type="text" id="login_tries" name="login_tries" placeholder="Number of Tries">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="tries_time">Login Timeout</label>
      </div>
      <div class="col-75">
        <input type="text" id="tries_time" name="tries_time" placeholder="Time in Seconds">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="login_delay">Login Delay</label>
      </div>
      <div class="col-75">
        <input type="text" id="login_delay" name="login_delay" placeholder="Time in Seconds">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="login_access">Login Access</label>
      </div>
      <div class="col-75">
        <input type="text" id="login_access" name="login_access" placeholder="Access List Name">
      </div>
    </div>
    <hr>
     <!-- DHCP -->
     
  <div class="row">
    <div class="col-25">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="DHCP">DHCP
      </h3>
    </div>
    
  </div>
    <div class="row">
      <div class="col-25">
        <label for="dhcpname"> DHCP Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="dhcpname" name="dhcpname" placeholder="Address">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="dhcpex"> Excluded Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="dhcpex" name="dhcpex" placeholder=" Excluded Address">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="dhcpnet"> Network IP </label>
      </div>
      <div class="col-75">
        <input type="text" id="dhcpnet" name="dhcpnet" placeholder="Network IP">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="dhcpsub"> Subnet Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="dhcpsub" name="dhcpsub" placeholder="Subnet Address">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="dhcprout"> Default Router</label>
      </div>
      <div class="col-75">
        <input type="text" id="dhcprout" name="dhcprout" placeholder="Address">
      </div>
      <div class="row">
      <div class="col-75"><button class="btn btn-primary" type="button" id="adhcp"><i data-feather="plus"></i>
        <span>Add DHCP</span></button>
      </div>
    </div>
     <!-- ospfv3 -->
     <hr>
     <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="ospfv3">OSPFv3
      </h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ospfpro"> Process ID</label>
      </div>
      <div class="col-75">
        <input type="text" id="ospfpro" name="ospfpro" placeholder="Process ID">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="ospfrid"> Router ID</label>
      </div>
      <div class="col-75">
        <input type="text" id="ospfrid" name="ospfrid" placeholder="Router ID">
      </div>
    </div>
    <div class="row">
    <div class="col-75"><button class="btn btn-primary" type="button" id="addospf"><i data-feather="plus"></i>
      <span>Add OSPFv3</span></button>
    </div>
  </div>
     <!-- User Account -->
     <hr>
     <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="usracc">User Account
      </h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="username"> Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="username" name="username" placeholder="Name">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="userpass"> Password</label>
      </div>
      <div class="col-75">
        <input type="text" id="userpass" name="userpass" placeholder="Name">
      </div>
    </div>
    <div class="row">
    <div class="col-75"><button class="btn btn-primary" type="button" id="adduser"><i data-feather="plus"></i>
      <span>Add User</span></button>
    </div>
  </div>
    <!-- ACL -->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="l3acl">ACL
      </h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="aclname"> Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="aclname" name="aclname" placeholder=" ACL Name">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="aclcontrol"> Control Type</label>
      </div>
      <div class="col-75">
        <input type="text" id="aclcontrol" name="aclcontrol" placeholder=" ACL Control Type">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="acladd"> ACL Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="acladd" name="acladd" placeholder=" ACL Address">
      </div>
    </div>
    <div class="row">
    <div class="col-75"><button class="btn btn-primary" type="button" id="addacl"><i data-feather="plus"></i>
      <span>Add ACL</span></button>
    </div>
  </div>
    <!--STP_VLAN-->
    <hr>
    <div class="row">
      <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="stp">STP_VLAN
      </h3>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="stpvlan"> Vlan</label>
      </div>
      <div class="col-75">
        <input type="text" id="stpvlan" name="stpvlan" placeholder="Vlan">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="stproot"> Root Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="stproot" name="stproot" placeholder="Root Number">
      </div>
    </div>
    <div class="row">
    <div class="col-75"><button class="btn btn-primary" type="button" id="addstp"><i data-feather="plus"></i>
      <span>Add STP</span></button>
    </div>
  </div>
     <!-- Interface -->
     <hr>
     <div class="row">
      <div class="col-25">
        <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="intrfce">Interfaces</h3>
      </div>
      <div class="col-75"><button class="btn btn-primary" type="button" id="addint"><i data-feather="plus"></i>
          <span>Add Interface</span></button>
      </div>
    </div>
    <hr>
    <div class="intrfcs">
      <div class="intrfceform" id="0"></div>
    </div>
    <!-- VLAN -->
    
    <div class="row">
      <div class="col-25">
        <h3 style="display: inline; float: left; color: darkblue; font-family: monospace;" id="vlan">VLAN</h3>
      </div>
      <div class="col-75"><button class="btn btn-primary" type="button" id="addvlan"><i data-feather="plus"></i>
          <span>Add VLAN</span></button>
      </div>
      
    </div>
    <hr>
    <div class="vlans">
      <div class="vlanform" id="0"></div>
    </div>



    <hr>
    <div class="row">
      <div class="col">
        <div class='d-flex justify-content-between'>

          {% csrf_token %}

          <input type='hidden' name='device_id' value='1'>
          {% if script.id is not null %}
          <input type='hidden' name='script_id' value='{{script.id}}'>
          {% endif %}
          <button class="btn btn-primary" type="submit"><i data-feather="save"></i> <span>Save</span></button>
  </form>



  {% if script.id is not null %}
  <form method='POST' action="generate_exe">
    {% csrf_token %}
    <input type='hidden' name='script_id' value='{{script.id}}'>
    <button class="btn btn-success" type="submit"><i data-feather="download"></i>
      <span>Executable</span></button>
  </form>
  <form method='POST' action="generate_text">
    {% csrf_token %}
    <input type='hidden' name='script_id' value='{{script.id}}'>
    <button class="btn btn-success" type="submit"><i data-feather="download"></i> <span>Text</span></button>
  </form>
  {% endif %}
  <button class="btn btn-primary">
    <span><a href="dashboard" class="text-white">Cancel</a></span></button>
</div>
</div>
</div>
</div>

{% endblock %}

{% block script %}




<script type="text/javascript">

  $('#addvlan').on('click', function () {
    $('.vlans').each(function () {
      var id = parseInt($('.vlans div.vlanform:last-child').attr('id')) + 1;
      $('div.col-75 #removevlan').remove();
      $('.vlans').append("<div class='vlanform' id='" + id + "'>" +
        "<div class='row justify-content-between'>" +
        "<div class='col-25'>" +
        "<h5 style='display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;' id='vlanhead" + id + "'>Vlan Form " + id + "</h5>" +
        "</div>" +
        "<div class='col-75'>" +
        "<button class='btn btn-secondary removebtn' type='button' id='removevlan' rmvlan='" + id + "'>" +
        "- Remove VLAN " + id + "</button>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='vlannum" + id + "'>VLAN</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='vlannum" + id + "' name='vlannum" + id + "' placeholder='VLAN Number'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='vlanname" + id + "'>VLAN Name</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='vlanname" + id + "' name='vlanname" + id + "' placeholder='VLAN Name'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='vlanip" + id + "'>IPv4 Address</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='vlanip" + id + "' name='vlanip" + id + "' placeholder='xxx.xxx.xxx.xxx'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='vlansub" + id + "'>IPv4 Subnet</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='vlansub" + id + "' name='vlansub" + id + "' placeholder='xxx.xxx.xxx.xxx'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='vlanipv6" + id + "'>IPv6 Address</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='vlanipv6" + id + "' name='vlanipv6" + id + "' placeholder='IPv6 Address'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='vlanpre" + id + "'>IPv6 Prefix</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='vlanpre" + id + "' name='vlanpre" + id + "' placeholder='xx'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='vlanlink" + id + "'>IPv6 Link-Local</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='vlanlink" + id + "' name='vlanlink" + id + "' placeholder='IPv6 Link-Local'>" +
        "</div>" +
        "</div>" +
        "</div>");
    });
  });
  $('#addint').on('click', function () {
    $('.intrfcs').each(function () {
      var id = parseInt($('.intrfces div.intrfceform:last-child').attr('id')) + 1;
      $('div.col-75 #removeintrfce').remove();
      $('.intrfcs').append("<div class='intrfceform' id='" + id + "'>" +
        "<div class='row justify-content-between'>" +
        "<div class='col-25'>" +
        "<h5 style='display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;' id='interfacehead" + id + "'>Interface Form " + id + "</h5>" +
        "</div>" +
        "<div class='col-75'>" +
        "<button class='btn btn-secondary removebtn' type='button' id='removeintrfce' rmintrfce='" + id + "'>" +
        "- Remove Iterface " + id + "</button>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intstatus" + id + "'>Status</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intstatus" + id + "' name='intstatus" + id + "' placeholder=' Interface Status'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intname" + id + "'>Interface Name</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intname" + id + "' name='intname" + id + "' placeholder='Interface Name'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intsw" + id + "'>Switchport</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intsw" + id + "' name='intsw" + id + "' placeholder='Switchport Name'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intip" + id + "'>IPv4 Address</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intip" + id + "' name='intip" + id + "' placeholder='xxx.xxx.xxx.xxx'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intsub" + id + "'>IPv4 Subnet</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intsub" + id + "' name='intsub" + id + "' placeholder='xxx.xxx.xxx.xxx'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intipv6" + id + "'>IPv6 Address</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intipv6" + id + "' name='intipv6" + id + "' placeholder='IPv6 Address'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intpre" + id + "'>IPv6 Prefix</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intpre" + id + "' name='intpre" + id + "' placeholder='xx'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intlink" + id + "'>IPv6 Link-Local</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intlink" + id + "' name='intlink" + id + "' placeholder='IPv6 Link-Local'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intswmode" + id + "'>SwitchPort Mode</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intswmode" + id + "' name='intswmode" + id + "' placeholder='SwitchPort Mode'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intswaccess" + id + "'>SwitchPort Access</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intswaccess" + id + "' name='intswaccess" + id + "' placeholder='SwitchPort Access'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intallvlan" + id + "'>Vlans Allowed</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intallvlan" + id + "' name='intallvlan" + id + "' placeholder='Vlans Allowed'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intnative" + id + "'>Native Vlan</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intnative" + id + "' name='intnative" + id + "' placeholder='Native Vlan'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intencap" + id + "'>Encapsulation</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intencap" + id + "' name='intencap" + id + "' placeholder='Encapsulation'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intencap" + id + "'>Non- Negiotate</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intnoneg" + id + "' name='intnoneg" + id + "' placeholder='Encapsulation'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intch" + id + "'>Channel Group</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intch" + id + "' name='intch" + id + "' placeholder='Encapsulation'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intchmode" + id + "'>Channel Mode</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intchmode" + id + "' name='intchmode" + id + "' placeholder='Channel Mode'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intstpcost" + id + "'>STP Cost</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intstpcost" + id + "' name='intstpcost" + id + "' placeholder='STP Cost'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intipospf" + id + "'>IPv4 OSPFv3</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intipospf" + id + "' name='intipospf" + id + "' placeholder='IPv4 OSPFv3'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intiparea" + id + "'>IPv4 Area</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intiparea" + id + "' name='intiparea" + id + "' placeholder='IPv4 Area'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intipv6ospf" + id + "'>IPv6 OSPFv3</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intipv6ospf" + id + "' name='intipv6ospf" + id + "' placeholder='IPv6 OSPFv3'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intipv6area" + id + "'>IPv6 Area</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intipv6area" + id + "' name='intipv6area" + id + "' placeholder='IPv6 Area'>" +
        "</div>" +
        "</div>" +
        "</div>");
    });
  });
  $('#adhcp').on('click', function () {
    $('.intrfcs').each(function () {
      var id = parseInt($('.intrfces div.intrfceform:last-child').attr('id')) + 1;
      $('div.col-75 #removeintrfce').remove();
      $('.intrfcs').append("<div class='intrfceform' id='" + id + "'>" +
        "<div class='row justify-content-between'>" +
        "<div class='col-25'>" +
        "<h5 style='display: inline; float: left; color:darkslategrey; font-family: monospace; font-weight: bolder;' id='interfacehead" + id + "'>Interface Form " + id + "</h5>" +
        "</div>" +
        "<div class='col-75'>" +
        "<button class='btn btn-secondary removebtn' type='button' id='removeintrfce' rmintrfce='" + id + "'>" +
        "- Remove Iterface " + id + "</button>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intstatus" + id + "'>Status</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intstatus" + id + "' name='intstatus" + id + "' placeholder=' Interface Status'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intname" + id + "'>Interface Name</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intname" + id + "' name='intname" + id + "' placeholder='Interface Name'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intsw" + id + "'>Switchport</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intsw" + id + "' name='intsw" + id + "' placeholder='Switchport Name'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intip" + id + "'>IPv4 Address</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intip" + id + "' name='intip" + id + "' placeholder='xxx.xxx.xxx.xxx'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intsub" + id + "'>IPv4 Subnet</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intsub" + id + "' name='intsub" + id + "' placeholder='xxx.xxx.xxx.xxx'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intipv6" + id + "'>IPv6 Address</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intipv6" + id + "' name='intipv6" + id + "' placeholder='IPv6 Address'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intpre" + id + "'>IPv6 Prefix</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intpre" + id + "' name='intpre" + id + "' placeholder='xx'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intlink" + id + "'>IPv6 Link-Local</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intlink" + id + "' name='intlink" + id + "' placeholder='IPv6 Link-Local'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intswmode" + id + "'>SwitchPort Mode</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intswmode" + id + "' name='intswmode" + id + "' placeholder='SwitchPort Mode'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intswaccess" + id + "'>SwitchPort Access</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intswaccess" + id + "' name='intswaccess" + id + "' placeholder='SwitchPort Access'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intallvlan" + id + "'>Vlans Allowed</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intallvlan" + id + "' name='intallvlan" + id + "' placeholder='Vlans Allowed'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intnative" + id + "'>Native Vlan</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intnative" + id + "' name='intnative" + id + "' placeholder='Native Vlan'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intencap" + id + "'>Encapsulation</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intencap" + id + "' name='intencap" + id + "' placeholder='Encapsulation'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intencap" + id + "'>Non- Negiotate</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intnoneg" + id + "' name='intnoneg" + id + "' placeholder='Encapsulation'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intch" + id + "'>Channel Group</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intch" + id + "' name='intch" + id + "' placeholder='Encapsulation'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intchmode" + id + "'>Channel Mode</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intchmode" + id + "' name='intchmode" + id + "' placeholder='Channel Mode'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intstpcost" + id + "'>STP Cost</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intstpcost" + id + "' name='intstpcost" + id + "' placeholder='STP Cost'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intipospf" + id + "'>IPv4 OSPFv3</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intipospf" + id + "' name='intipospf" + id + "' placeholder='IPv4 OSPFv3'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intiparea" + id + "'>IPv4 Area</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intiparea" + id + "' name='intiparea" + id + "' placeholder='IPv4 Area'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intipv6ospf" + id + "'>IPv6 OSPFv3</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intipv6ospf" + id + "' name='intipv6ospf" + id + "' placeholder='IPv6 OSPFv3'>" +
        "</div>" +
        "</div>" +
        "<div class='row'>" +
        "<div class='col-25'>" +
        "<label for='intipv6area" + id + "'>IPv6 Area</label>" +
        "</div>" +
        "<div class='col-75'>" +
        "<input type='text' id='intipv6area" + id + "' name='intipv6area" + id + "' placeholder='IPv6 Area'>" +
        "</div>" +
        "</div>" +
        "</div>");
    });
  });
  
  
 

</script>

{% endblock %}